<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>announce_text_bg_green.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{541,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,51}}</string>
                <key>sourceSize</key>
                <string>{541,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>announce_text_bg_green.png</string>
            <key>size</key>
            <string>{545,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afe2847c24ee415ac3a3f77e16c96b7d:d521e0f8db5ba100084de983f667c87e:b2825d7e9a8e80e57f7f74487cd4c990$</string>
            <key>textureFileName</key>
            <string>announce_text_bg_green.png</string>
        </dict>
    </dict>
</plist>
