<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autocombat_off.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>autocombat_off.png</string>
            <key>size</key>
            <string>{89,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b48d0cf93e740b9682d6d1bba02a0ce:61294f456ddb65dee4b139b549ce1fc8:30588a96f5b06440f15cde26c73917a0$</string>
            <key>textureFileName</key>
            <string>autocombat_off.png</string>
        </dict>
    </dict>
</plist>
