<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarshadow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,44}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatarshadow.png</string>
            <key>size</key>
            <string>{152,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6d3548a19e906a1ff4912b468a21823:5ca000296d59207584d3d83a73974b3c:36a9e35afac02865a3a4a01df9e4a4ce$</string>
            <key>textureFileName</key>
            <string>avatarshadow.png</string>
        </dict>
    </dict>
</plist>
