<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnmask.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btnmask.png</string>
            <key>size</key>
            <string>{62,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89aa38f5af5a48bf0e0579c8f75b5882:97a0ff6f93f73c3691f5aba7246b530d:dd1ae4fdbd9914ece93f546e5ea2198b$</string>
            <key>textureFileName</key>
            <string>btnmask.png</string>
        </dict>
    </dict>
</plist>
