<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>can_deal_tag.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>can_deal_tag.png</string>
            <key>size</key>
            <string>{28,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05d5db184af7c390cdcdefdada961b03:1e3e431e360187c8fd0b373ccbd5fc35:170a39d67fc1e64f8ef855c3d493e35b$</string>
            <key>textureFileName</key>
            <string>can_deal_tag.png</string>
        </dict>
    </dict>
</plist>
