<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cdtail.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,19}}</string>
                <key>sourceSize</key>
                <string>{88,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cdtail.png</string>
            <key>size</key>
            <string>{92,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96b5d9599bb9d865bfe0c33343a6837a:8a610fd10fa4e4ecd52513149c8b2747:0e017085fd9ca1d95503ab02a8f6606b$</string>
            <key>textureFileName</key>
            <string>cdtail.png</string>
        </dict>
    </dict>
</plist>
