<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>detail_title_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{643,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,15}}</string>
                <key>sourceSize</key>
                <string>{643,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>detail_title_bg.png</string>
            <key>size</key>
            <string>{647,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efe9315239cfa74ea54c8ee695c015df:71576dfa427a3d9f0bf7cafcc64546b4:6d89730294f2d29d41e025ba6afd568d$</string>
            <key>textureFileName</key>
            <string>detail_title_bg.png</string>
        </dict>
    </dict>
</plist>
