<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>detail_star.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>detail_star.png</string>
            <key>size</key>
            <string>{74,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:868496cd7d53613938a5e670e44f1c79:8a2a61f94213139718693ce3a2cae0d1:296beb51fc6abc0ab620269ce75eac7f$</string>
            <key>textureFileName</key>
            <string>detail_star.png</string>
        </dict>
    </dict>
</plist>
