<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>detail_bg_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{936,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{936,507}}</string>
                <key>sourceSize</key>
                <string>{936,507}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>detail_bg_2.png</string>
            <key>size</key>
            <string>{940,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1707a334a03d3c6b9fec18d88d31d6e4:3626366f2a57f7e05f6395f86ff9b337:c338d98bc01641e215b565ddc502ab44$</string>
            <key>textureFileName</key>
            <string>detail_bg_2.png</string>
        </dict>
    </dict>
</plist>
