<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialog_line.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,4}}</string>
                <key>sourceSize</key>
                <string>{403,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog_line.png</string>
            <key>size</key>
            <string>{432,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581d53e70ee60d01ba50b3f8e4de59c6:73ebeb4ac910538c8b5a45721242c24b:3cc79b7e2b9198a0bc2f7fca1154c844$</string>
            <key>textureFileName</key>
            <string>dialog_line.png</string>
        </dict>
    </dict>
</plist>
