<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_craft_getway_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,259}}</string>
                <key>sourceSize</key>
                <string>{308,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_craft_getway_bg.png</string>
            <key>size</key>
            <string>{312,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baa89a0a048359c4aaaa4fa7da16c2c7:582565f1c88fc5b971a9df6976c92a3c:4cfcf6b2234d455657db493b37a6b011$</string>
            <key>textureFileName</key>
            <string>equip_craft_getway_bg.png</string>
        </dict>
    </dict>
</plist>
