<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_craft_getway_board.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,67}}</string>
                <key>sourceSize</key>
                <string>{311,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_craft_getway_board.png</string>
            <key>size</key>
            <string>{315,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c3c80aa22109e45bc7b89bc2cbd93f2:3f97b59ed3929808e73fd70f37a660d5:ab045c48cfd2bd91480f76382d77386d$</string>
            <key>textureFileName</key>
            <string>equip_craft_getway_board.png</string>
        </dict>
    </dict>
</plist>
