<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_frame_white.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_frame_white.png</string>
            <key>size</key>
            <string>{98,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c86a156286f50d0997cc1f10df6822f:6323224f93e2c351efaea1d998a58079:b5f0f0a0f3a718175b9e54ad977b1912$</string>
            <key>textureFileName</key>
            <string>equip_frame_white.png</string>
        </dict>
    </dict>
</plist>
