<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_craft_money_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,34}}</string>
                <key>sourceSize</key>
                <string>{308,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_craft_money_bg.png</string>
            <key>size</key>
            <string>{312,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27aa3e001907bcd1333dd4af9c0da9e3:01842ca1aff04212aad38c14e3bed26a:aa72a6a2fbe7fcc57391586e1c11bb2b$</string>
            <key>textureFileName</key>
            <string>equip_craft_money_bg.png</string>
        </dict>
    </dict>
</plist>
