<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_craft_detail_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,138}}</string>
                <key>sourceSize</key>
                <string>{308,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_craft_detail_bg.png</string>
            <key>size</key>
            <string>{312,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad1c074dcf296cf5ed882d2651bafa05:4ef139f360ed202fb3c677bf8911e6d7:417534bcfef8a04319a152906d587a59$</string>
            <key>textureFileName</key>
            <string>equip_craft_detail_bg.png</string>
        </dict>
    </dict>
</plist>
