<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_upgrade_icon.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_upgrade_icon.png</string>
            <key>size</key>
            <string>{35,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9fa2d0c2eea3b8e4758f6daf64e9dd4:53eba0f852ea8d44c2a0412c78e0ec61:01c07de4c8ca0b60bc3d50eb462298e1$</string>
            <key>textureFileName</key>
            <string>equip_upgrade_icon.png</string>
        </dict>
    </dict>
</plist>
