<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_detail_title_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,15}}</string>
                <key>sourceSize</key>
                <string>{395,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_detail_title_bg.png</string>
            <key>size</key>
            <string>{399,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f35f1708b45e78e22452d7273cd1d1d3:fa1ae7dc638afdaf6bd68940f54be9e6:4e98c93116fb37269bffc0491e8f9f73$</string>
            <key>textureFileName</key>
            <string>equip_detail_title_bg.png</string>
        </dict>
    </dict>
</plist>
