<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_craft_3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,39}}</string>
                <key>sourceSize</key>
                <string>{167,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip_craft_3.png</string>
            <key>size</key>
            <string>{171,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e21c2e57e30c03989ad1704737d568e:503c87a3104547d0626096a20c8b4b51:0d86a439e8e4ce15549cba1bf21def10$</string>
            <key>textureFileName</key>
            <string>equip_craft_3.png</string>
        </dict>
    </dict>
</plist>
