<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fragment_tick.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fragment_tick.png</string>
            <key>size</key>
            <string>{44,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e38fe6fe3c63d16e1a8b8c46fb5f84ec:3bfd88be42188dd73e9e00d0d9fa9f9c:9a5ea0b836418720afd90d26ad75a237$</string>
            <key>textureFileName</key>
            <string>fragment_tick.png</string>
        </dict>
    </dict>
</plist>
