<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>handbook_right_arrow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>handbook_right_arrow.png</string>
            <key>size</key>
            <string>{55,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5bc909f5ca6fe9e16462a54b4e5140d:9acc643504ca1084395b292785a20f06:b20b92398ac75d858ce4f1a186768ad6$</string>
            <key>textureFileName</key>
            <string>handbook_right_arrow.png</string>
        </dict>
    </dict>
</plist>
