<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail-upgrade.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,67}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail-upgrade.png</string>
            <key>size</key>
            <string>{101,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7269d8be9c995b9e27b2bcb473397704:23ef446fc41c92f5b59a60986ea07c33:69044d6c5d2739b88d84c1d69a4e4ce0$</string>
            <key>textureFileName</key>
            <string>herodetail-upgrade.png</string>
        </dict>
    </dict>
</plist>
