<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail_skill_upgrade_button_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail_skill_upgrade_button_1.png</string>
            <key>size</key>
            <string>{67,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099691ecf35c39bdb76b640f6d4a9a85:14084a4e359e16c915a1ebe8b44bc328:615d97c375e634f972050ca3fc1d2bef$</string>
            <key>textureFileName</key>
            <string>herodetail_skill_upgrade_button_1.png</string>
        </dict>
    </dict>
</plist>
