<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail_skill_upgrade_button_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail_skill_upgrade_button_2.png</string>
            <key>size</key>
            <string>{67,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42c06c3a20103390ddf6c740f00c18ce:97ed5e503a98ba27ae8b17e429f21f17:84709d940e3d0d5da5d3c4ab4cfef727$</string>
            <key>textureFileName</key>
            <string>herodetail_skill_upgrade_button_2.png</string>
        </dict>
    </dict>
</plist>
