<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_icon_frame_6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_icon_frame_6.png</string>
            <key>size</key>
            <string>{110,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee865891d9949e3dc9c6e06b5e853cbd:65fcc78c27442fa90b08b0cf1fe4cea9:3f06451de6d9e8c2aaf949d7ed0b3272$</string>
            <key>textureFileName</key>
            <string>hero_icon_frame_6.png</string>
        </dict>
    </dict>
</plist>
