<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_icon_frame_8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_icon_frame_8.png</string>
            <key>size</key>
            <string>{110,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf1172948836e5b9fa2ddca6f82903a4:3b6298f2f8562a50f2a7d0da2c216589:40be832365190c0313cfa153428833c0$</string>
            <key>textureFileName</key>
            <string>hero_icon_frame_8.png</string>
        </dict>
    </dict>
</plist>
