<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail_name_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,57}}</string>
                <key>sourceSize</key>
                <string>{194,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail_name_bg.png</string>
            <key>size</key>
            <string>{198,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133da04a4ca169be541ac6870d565b95:b501110e006f6b88fefaa42c5e22d4d6:949da03fca51f5270c0dcc14f838b662$</string>
            <key>textureFileName</key>
            <string>herodetail_name_bg.png</string>
        </dict>
    </dict>
</plist>
