<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail-equip-owned.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail-equip-owned.png</string>
            <key>size</key>
            <string>{78,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d76ebf565f481ad2c5f86b55288eb37:a46121b69ce6fbfb3c7126f42ae4dcab:1f86cf5ea86b9ef6e3b3b9de69e563f3$</string>
            <key>textureFileName</key>
            <string>herodetail-equip-owned.png</string>
        </dict>
    </dict>
</plist>
