<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroxp-progress-full.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,17}}</string>
                <key>sourceSize</key>
                <string>{107,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroxp-progress-full.png</string>
            <key>size</key>
            <string>{111,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:491648a9bb7069a8c0d0a17121dfb6b1:c0b4f41ee2cbeb5deede1ff768abb7a2:41e42fb6646dc9f5313d662100313d24$</string>
            <key>textureFileName</key>
            <string>heroxp-progress-full.png</string>
        </dict>
    </dict>
</plist>
