<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail-nextlevel.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,26}}</string>
                <key>sourceSize</key>
                <string>{278,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail-nextlevel.png</string>
            <key>size</key>
            <string>{282,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc88300709b35248c6badc6c9ea176f6:f135f91adcafaf43c465ec1ad870976d:e08e90c9eb84d7df4d9ff0558cbdc145$</string>
            <key>textureFileName</key>
            <string>herodetail-nextlevel.png</string>
        </dict>
    </dict>
</plist>
