<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroxp-progress-bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,17}}</string>
                <key>sourceSize</key>
                <string>{107,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroxp-progress-bg.png</string>
            <key>size</key>
            <string>{111,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29d7619b1e3b0b55bccfc6c1903141dc:73d7a1a5d5ef9149883c00f1ac15e0c5:183fbf54d52bc8703bd4f2e3ee2a702e$</string>
            <key>textureFileName</key>
            <string>heroxp-progress-bg.png</string>
        </dict>
    </dict>
</plist>
