<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail_name_frame_4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail_name_frame_4.png</string>
            <key>size</key>
            <string>{200,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0f4171fff350e6aa8678fa0868d214:2a961b36edaae57635393379ea3ed534:0ca3db7eef95cc3fd269c6aa28e124a6$</string>
            <key>textureFileName</key>
            <string>herodetail_name_frame_4.png</string>
        </dict>
    </dict>
</plist>
