<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail-detail-n.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,67}}</string>
                <key>sourceSize</key>
                <string>{219,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail-detail-n.png</string>
            <key>size</key>
            <string>{223,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:499e1922f6739dd2319cd1444f12ef8b:bb235cf2113d2a79e9328a045f91fbb8:2ead32b0cd005a2f67f35923845dbf6e$</string>
            <key>textureFileName</key>
            <string>herodetail-detail-n.png</string>
        </dict>
    </dict>
</plist>
