<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail_cannot_equip.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail_cannot_equip.png</string>
            <key>size</key>
            <string>{78,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8774ff4e47fb27bf981b2ce0b7dada2:cec22f3297034aa7592a41aadad773cd:b3570acb40c8164b2c7287bcff4c5bda$</string>
            <key>textureFileName</key>
            <string>herodetail_cannot_equip.png</string>
        </dict>
    </dict>
</plist>
