<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail-skilldesc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,210}}</string>
                <key>sourceSize</key>
                <string>{292,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail-skilldesc.png</string>
            <key>size</key>
            <string>{296,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f86cbc42b7bec6095155fdde1dbf8cc4:5f1e91eab26d1ba4258920d5b3ba9c7f:804b3ff751ca4b8f851f18d9c278406b$</string>
            <key>textureFileName</key>
            <string>herodetail-skilldesc.png</string>
        </dict>
    </dict>
</plist>
