<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>herodetail_name_frame_6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>herodetail_name_frame_6.png</string>
            <key>size</key>
            <string>{200,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdd218ab10a6bed0ef23e6f733ea9e21:8c0f923ce141a2c9c10754ab3db89447:55de4de1e42ba7d3d1e800305163614f$</string>
            <key>textureFileName</key>
            <string>herodetail_name_frame_6.png</string>
        </dict>
    </dict>
</plist>
