<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hourglass.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hourglass.png</string>
            <key>size</key>
            <string>{51,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f41dde6fe80f902d73c8175ace640e0:86d232b9aeef905f9407cdfb4d76baa2:21a077c2eff4193c9f7e97a3ff889a57$</string>
            <key>textureFileName</key>
            <string>hourglass.png</string>
        </dict>
    </dict>
</plist>
