<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp_black_small.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,11}}</string>
                <key>sourceSize</key>
                <string>{89,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hp_black_small.png</string>
            <key>size</key>
            <string>{93,15}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9afb832d1075414cdb03ddb4c11657c4:24779527d18b4272cbc19c277b569610:82e0844f612dc7da83aa4555484f5d20$</string>
            <key>textureFileName</key>
            <string>hp_black_small.png</string>
        </dict>
    </dict>
</plist>
