<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp_green.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,13}}</string>
                <key>sourceSize</key>
                <string>{104,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hp_green.png</string>
            <key>size</key>
            <string>{108,17}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b7bf532ba93b9579fb79eaca344fee:63780ec8cb15bc33c2bd498bf0038c41:e4ed93e6849ee068ba33c9d83ead64ac$</string>
            <key>textureFileName</key>
            <string>hp_green.png</string>
        </dict>
    </dict>
</plist>
