<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp_gray.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,15}}</string>
                <key>sourceSize</key>
                <string>{119,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hp_gray.png</string>
            <key>size</key>
            <string>{123,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc8e18bdc9bfbe40c65952860ab47c84:4c8a1afbafbfff63688a4643e90d2eab:0d478344ceb322d0894dba2160cf210f$</string>
            <key>textureFileName</key>
            <string>hp_gray.png</string>
        </dict>
    </dict>
</plist>
