<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hp_red.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,13}}</string>
                <key>sourceSize</key>
                <string>{104,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hp_red.png</string>
            <key>size</key>
            <string>{108,17}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52b0198f9d4adc00a12c2577eca41c7:4174f6f7fe77edb0b4ecb14aa103062e:0a323b108f5576c881064d054fa2b2c2$</string>
            <key>textureFileName</key>
            <string>hp_red.png</string>
        </dict>
    </dict>
</plist>
