<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_bar_light.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,34}}</string>
                <key>sourceSize</key>
                <string>{147,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_bar_light.png</string>
            <key>size</key>
            <string>{151,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d3665f188e9f07c5ea2873dcec723b:ca90e30fc7e2e0eab8e83b6580d2bd33:fdaeb2867beabbf57e2da092f540db84$</string>
            <key>textureFileName</key>
            <string>loading_bar_light.png</string>
        </dict>
    </dict>
</plist>
