<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_crusade_title.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,33}}</string>
                <key>sourceSize</key>
                <string>{149,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_crusade_title.png</string>
            <key>size</key>
            <string>{153,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3aa485435df66b38ca82a2fc71f34e:cd8ccc03894d38baf275aca84620e0ba:d1fbc2492861807a95e7e7ba65f642ac$</string>
            <key>textureFileName</key>
            <string>main_crusade_title.png</string>
        </dict>
    </dict>
</plist>
