<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_status_plus_icon_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_status_plus_icon_1.png</string>
            <key>size</key>
            <string>{43,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:261f627c630a8cc025b913e3a01dada5:6db20effbfc50307d88ed55451b7d634:542d0fabbac7cf6a4cd56bfe72b59a10$</string>
            <key>textureFileName</key>
            <string>main_status_plus_icon_1.png</string>
        </dict>
    </dict>
</plist>
