<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_defence_title.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,25}}</string>
                <key>sourceSize</key>
                <string>{120,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_defence_title.png</string>
            <key>size</key>
            <string>{124,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:337ee0d146176268446dedf9a9ed6efd:5d31549049b622f33e212cf49676aa07:ab3d5ee152f29c603a83187045c8bf6a$</string>
            <key>textureFileName</key>
            <string>main_defence_title.png</string>
        </dict>
    </dict>
</plist>
