<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_shop_title_3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_shop_title_3.png</string>
            <key>size</key>
            <string>{133,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eb838ab6f9631d56acec867ee7d41c0:21e5ae4c0a9689256562a136cb75b627:5df681e89b194792933d73b8e1cf7315$</string>
            <key>textureFileName</key>
            <string>main_shop_title_3.png</string>
        </dict>
    </dict>
</plist>
