<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_small_down_icon.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,6}}</string>
                <key>sourceSize</key>
                <string>{12,6}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_small_down_icon.png</string>
            <key>size</key>
            <string>{16,10}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a77ee3a9ba7ce1fb76d8824c186f68e:b33a6e0206a3d644c5cdba47d475d078:414cb90f2e32864e86145b020b60e8b1$</string>
            <key>textureFileName</key>
            <string>main_small_down_icon.png</string>
        </dict>
    </dict>
</plist>
