<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_pve_title_unabailable.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_pve_title_unabailable.png</string>
            <key>size</key>
            <string>{133,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:270fa85916d3e8c31e5dfb3ba6a84b21:b73645fe53d3dba91256ae614daf6413:e449dced5cce69fcade7a4b97d069f65$</string>
            <key>textureFileName</key>
            <string>main_pve_title_unabailable.png</string>
        </dict>
    </dict>
</plist>
