<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_summonssshop_title.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,58}}</string>
                <key>sourceSize</key>
                <string>{129,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_summonssshop_title.png</string>
            <key>size</key>
            <string>{133,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95d0a127cec010292251e573cfbe6b3a:fff3ba68bfed9db023b7c98dfc1e1265:54f2c3f4c9c1ed6bc60e75d60a661696$</string>
            <key>textureFileName</key>
            <string>main_summonssshop_title.png</string>
        </dict>
    </dict>
</plist>
