<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_tbt_icon.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_tbt_icon.png</string>
            <key>size</key>
            <string>{55,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4d6359b23bf767f01096aff8f2c28e0:343578bd0424f6fbafc28c56ea62d941:59a3a22c55ea53e26ae42c548d9e8495$</string>
            <key>textureFileName</key>
            <string>main_tbt_icon.png</string>
        </dict>
    </dict>
</plist>
