<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_crusade_title_unavailable.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,33}}</string>
                <key>sourceSize</key>
                <string>{149,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_crusade_title_unavailable.png</string>
            <key>size</key>
            <string>{153,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a125c1da2039a8463aa0f1ce2b3312:a274820871b5f44b9a84b917d1938bfb:78b2ab136c677f2fbb45fb7f95d128c8$</string>
            <key>textureFileName</key>
            <string>main_crusade_title_unavailable.png</string>
        </dict>
    </dict>
</plist>
