<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_deal_tag.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_deal_tag.png</string>
            <key>size</key>
            <string>{25,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77bfc29cec8eccae9dc35d59b7524dbd:5752cb1049fac8dfb3fd660d875e3c15:86913307e32a9b46782db19926d4b836$</string>
            <key>textureFileName</key>
            <string>main_deal_tag.png</string>
        </dict>
    </dict>
</plist>
