<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_summonssshop_title_unavailable.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,58}}</string>
                <key>sourceSize</key>
                <string>{129,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_summonssshop_title_unavailable.png</string>
            <key>size</key>
            <string>{133,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d2185cfe07f9fbfb0e319930c9bc798:2acc5fa8aa2e0dc3b75ff0dc2ae89ab7:c970dc4b208a008c6a398b4bc4011bf3$</string>
            <key>textureFileName</key>
            <string>main_summonssshop_title_unavailable.png</string>
        </dict>
    </dict>
</plist>
