<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_shop_title_unavailable.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_shop_title_unavailable.png</string>
            <key>size</key>
            <string>{133,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70fe1e1f551c5739eb4a8d34b39c8a84:5272615fe29c08f916c901083cdc1a9a:b347f435988c6391153208a3a2746ebc$</string>
            <key>textureFileName</key>
            <string>main_shop_title_unavailable.png</string>
        </dict>
    </dict>
</plist>
