<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,254}}</string>
                <key>sourceSize</key>
                <string>{468,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map3.png</string>
            <key>size</key>
            <string>{472,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a22549bdd6459285eb53c9243bd48743:f62b99ca0fe9631f1e8ade2fa7b50410:5b0d8678427ff7a8a5360ef6e15d184c$</string>
            <key>textureFileName</key>
            <string>map3.png</string>
        </dict>
    </dict>
</plist>
