<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,254}}</string>
                <key>sourceSize</key>
                <string>{468,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map5.png</string>
            <key>size</key>
            <string>{472,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff894d3b0b4146eaa8d15adc72a43923:132cc496d6b133938eb9b50819f98acb:f90cb3525a1a1283f6a7460ec1fea0ac$</string>
            <key>textureFileName</key>
            <string>map5.png</string>
        </dict>
    </dict>
</plist>
