<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,254}}</string>
                <key>sourceSize</key>
                <string>{468,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map6.png</string>
            <key>size</key>
            <string>{472,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bd4e87f127abded83fabcb136b860ee:08ba8c8dad54bcb9db05fb1c97804d2a:305a08a43d87992996727711719feec4$</string>
            <key>textureFileName</key>
            <string>map6.png</string>
        </dict>
    </dict>
</plist>
