<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,254}}</string>
                <key>sourceSize</key>
                <string>{468,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map8.png</string>
            <key>size</key>
            <string>{472,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc0314d4f3a0951169c43d99ce9d462:07d984250ae3a22ed597949224c0816d:92ad236f92e4baa193070c0a5b0e07f2$</string>
            <key>textureFileName</key>
            <string>map8.png</string>
        </dict>
    </dict>
</plist>
