<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,254}}</string>
                <key>sourceSize</key>
                <string>{468,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map9.png</string>
            <key>size</key>
            <string>{472,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee05b39e1ec1430a283d72e32bf7783c:47d48ba87e918af7bb7850011fee1256:0d1f4fbad6e60bc7f326a12ea43ff614$</string>
            <key>textureFileName</key>
            <string>map9.png</string>
        </dict>
    </dict>
</plist>
