<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maptitle-chapter1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,103}}</string>
                <key>sourceSize</key>
                <string>{515,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maptitle-chapter1.png</string>
            <key>size</key>
            <string>{519,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cce08742fcc367e8e6d0d331f163fc9:6ba888b90d202c0f0cad5ff721589695:1e2610e0478f7d372c33d485ac1a5f62$</string>
            <key>textureFileName</key>
            <string>maptitle-chapter1.png</string>
        </dict>
    </dict>
</plist>
