<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maptitle-chapter8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,103}}</string>
                <key>sourceSize</key>
                <string>{515,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maptitle-chapter8.png</string>
            <key>size</key>
            <string>{519,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1141e302392e9d7c62026352c5d5ceef:44fc53d6522690f044e9910cd701cb57:37568a7dbe9f7ff5236ca8fef188d4ba$</string>
            <key>textureFileName</key>
            <string>maptitle-chapter8.png</string>
        </dict>
    </dict>
</plist>
