<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nextbtnmask.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nextbtnmask.png</string>
            <key>size</key>
            <string>{87,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5bbda545cff406965fcfa9474f3f22c:3e099adfe2458308e9692acce5540916:2190ce420f1f5d669d26ec76bcf55442$</string>
            <key>textureFileName</key>
            <string>nextbtnmask.png</string>
        </dict>
    </dict>
</plist>
