<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>package_detail_bg_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,192}}</string>
                <key>sourceSize</key>
                <string>{326,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>package_detail_bg_2.png</string>
            <key>size</key>
            <string>{330,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1a2742e1a5ada0a604132d3d587121:f060b6907ea937fd846d59cd26785a1b:7aacb591a47077251dbb32f1205278cf$</string>
            <key>textureFileName</key>
            <string>package_detail_bg_2.png</string>
        </dict>
    </dict>
</plist>
