<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>package_hero_shade.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,123}}</string>
                <key>sourceSize</key>
                <string>{313,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>package_hero_shade.png</string>
            <key>size</key>
            <string>{317,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b62b64d49d1faafc6487c06169e6a364:09ffc49a57ddb4fc01454efe2ba0fba8:e1abdb3302bd4d06a883def8f0afb8dc$</string>
            <key>textureFileName</key>
            <string>package_hero_shade.png</string>
        </dict>
    </dict>
</plist>
