<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>package_list_shade.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,26}}</string>
                <key>sourceSize</key>
                <string>{411,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>package_list_shade.png</string>
            <key>size</key>
            <string>{415,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11682ea643b398bea54339ef9f2382ee:d796a55696c5e183350d078c8e53f98a:9e489d722dade2f9de509e7c811cab56$</string>
            <key>textureFileName</key>
            <string>package_list_shade.png</string>
        </dict>
    </dict>
</plist>
