<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>package_button.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,67}}</string>
                <key>sourceSize</key>
                <string>{335,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>package_button.png</string>
            <key>size</key>
            <string>{339,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81fbf43e15ec76d5fa9c99f7bfb85151:a11153905cd7d261b11945643004f65f:c88997b55ceb6c6bea634a1f249f82d4$</string>
            <key>textureFileName</key>
            <string>package_button.png</string>
        </dict>
    </dict>
</plist>
