<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pausebtn-disabled.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pausebtn-disabled.png</string>
            <key>size</key>
            <string>{78,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae9c6791a02dbca92b0432bd3b8d1d46:b8224f914ba9bd4ce9ded660dbd0a3f3:1c7626a264cededa302920aee1feeb66$</string>
            <key>textureFileName</key>
            <string>pausebtn-disabled.png</string>
        </dict>
    </dict>
</plist>
