<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prevchap.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prevchap.png</string>
            <key>size</key>
            <string>{59,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fe6bfa5e8b3b40eaea4deaaa024166e:e38b0625e385e5c77160c40c2f6c865c:a68039b297df835e4ff634e9212a73d8$</string>
            <key>textureFileName</key>
            <string>prevchap.png</string>
        </dict>
    </dict>
</plist>
