<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recharge_vip_progress_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,34}}</string>
                <key>sourceSize</key>
                <string>{398,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recharge_vip_progress_bg.png</string>
            <key>size</key>
            <string>{402,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d9ea9688c0e7a7ed2b35680ee8a05a8:59f582c8343c5981e719f1808cfd2e61:a7f2ca6e03dad16977e9cbee1ce1cb61$</string>
            <key>textureFileName</key>
            <string>recharge_vip_progress_bg.png</string>
        </dict>
    </dict>
</plist>
