<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recharge_vipgift_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,99}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recharge_vipgift_bg.png</string>
            <key>size</key>
            <string>{64,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:185661b6fdbef3dc6c85193714295677:c69dfbe50d3b6e7b5d7adc6b7c1dac08:3ba42010bbdb031365191b2dfac775e6$</string>
            <key>textureFileName</key>
            <string>recharge_vipgift_bg.png</string>
        </dict>
    </dict>
</plist>
