<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recharge_vip_progress.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,34}}</string>
                <key>sourceSize</key>
                <string>{398,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recharge_vip_progress.png</string>
            <key>size</key>
            <string>{402,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18628747d9e98636e3d3318666c9b5ec:c6eca5ccb4442fc72f307c8d88918fdf:38e51143a8e250b290f951f9b7733f2b$</string>
            <key>textureFileName</key>
            <string>recharge_vip_progress.png</string>
        </dict>
    </dict>
</plist>
