<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recharge_vip_icon.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recharge_vip_icon.png</string>
            <key>size</key>
            <string>{39,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1e3028e1c805bbfa9f77117e55ea8db:3f9162bd106b4d56261cf78542078dd8:895dd85bb6ee6f993202cf758ad9c216$</string>
            <key>textureFileName</key>
            <string>recharge_vip_icon.png</string>
        </dict>
    </dict>
</plist>
