<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recharge_recommended.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recharge_recommended.png</string>
            <key>size</key>
            <string>{67,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0880efcd57f6c7ad8328904087aa6a01:304ec9661275b648c03485307d7a2975:cb8944ac53f6ff7e0ed967d673be46c9$</string>
            <key>textureFileName</key>
            <string>recharge_recommended.png</string>
        </dict>
    </dict>
</plist>
