<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scroll_bar.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{5,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,105}}</string>
                <key>sourceSize</key>
                <string>{5,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scroll_bar.png</string>
            <key>size</key>
            <string>{9,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6b6882de4adbeb035c03ae06abee3ec:0a409c3faf824aa7c017e94efffc17a4:08e7e5228e74e4dea9de8436c18e1a6d$</string>
            <key>textureFileName</key>
            <string>scroll_bar.png</string>
        </dict>
    </dict>
</plist>
