<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shine.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,136}}</string>
                <key>sourceSize</key>
                <string>{139,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shine.png</string>
            <key>size</key>
            <string>{143,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fb3fb5ccd3685a25b6d18620a5880a5:58b274deddc0fa199e5ac4f3a8e90b10:f597214a37ce94e06bb0739a2993020c$</string>
            <key>textureFileName</key>
            <string>shine.png</string>
        </dict>
    </dict>
</plist>
