<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_refresh_label_down.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,38}}</string>
                <key>sourceSize</key>
                <string>{81,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_refresh_label_down.png</string>
            <key>size</key>
            <string>{85,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e31e38f12515f1244f67aa932da0faa7:53406d7d7453884efa797e43edd8f4d2:5d35c6be1fdb2b82e1f738d2d5224a9e$</string>
            <key>textureFileName</key>
            <string>shop_refresh_label_down.png</string>
        </dict>
    </dict>
</plist>
