<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_token_icon.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_token_icon.png</string>
            <key>size</key>
            <string>{47,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f7f16696b707af183f194f6cf7f94eb:cf3c8e38de7de3174ad62eadbef1fbe2:076d664ebbdc9704f6afc1e07c9f208f$</string>
            <key>textureFileName</key>
            <string>shop_token_icon.png</string>
        </dict>
    </dict>
</plist>
