<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_refresh_button.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,75}}</string>
                <key>sourceSize</key>
                <string>{146,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_refresh_button.png</string>
            <key>size</key>
            <string>{150,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c1275f9c8eef185585d80d4c025468:4c5e1f7239c63f07bf3944455e173b7e:f4036d850b34f7958746b8718ae84d82$</string>
            <key>textureFileName</key>
            <string>shop_refresh_button.png</string>
        </dict>
    </dict>
</plist>
