<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_talk_bg_down.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,98}}</string>
                <key>sourceSize</key>
                <string>{266,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_talk_bg_down.png</string>
            <key>size</key>
            <string>{270,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bae5aa998ccfa0988875481e62d84b:372bf8cc627f91a668bbfad79bd2df90:8faf650fb0123ab25f562b6bcb857412$</string>
            <key>textureFileName</key>
            <string>skill_talk_bg_down.png</string>
        </dict>
    </dict>
</plist>
