<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagedone_left_shade.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,98}}</string>
                <key>sourceSize</key>
                <string>{24,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stagedone_left_shade.png</string>
            <key>size</key>
            <string>{28,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf28dc148728b36e14f5e688589a6c32:e0d3687001a772779087e87b239da62b:9f2dc8d9299fa8d2fb2ee8a5149bb952$</string>
            <key>textureFileName</key>
            <string>stagedone_left_shade.png</string>
        </dict>
    </dict>
</plist>
