<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagecircle_white.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stagecircle_white.png</string>
            <key>size</key>
            <string>{46,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ddd998331e0708e90e00ea554c8ed06:f7404c027c5c3dd9af7209ae6c2012d2:163dfd30e288f3025cd8427849c991f0$</string>
            <key>textureFileName</key>
            <string>stagecircle_white.png</string>
        </dict>
    </dict>
</plist>
