<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagedone_win_tag.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,158}}</string>
                <key>sourceSize</key>
                <string>{235,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stagedone_win_tag.png</string>
            <key>size</key>
            <string>{239,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857f3a343e711e5e1250d5e501cffe4f:5e378c2855ec56ab65326d18b3b54d0a:69e8a53750bbe547d69f7d5a0c8a2a69$</string>
            <key>textureFileName</key>
            <string>stagedone_win_tag.png</string>
        </dict>
    </dict>
</plist>
