<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagedone_win_tag_light.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,113}}</string>
                <key>sourceSize</key>
                <string>{278,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stagedone_win_tag_light.png</string>
            <key>size</key>
            <string>{282,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46d0fb7c6e3aba79b6037406cd112ee9:1c598719a726c86ae0de88e3653781b7:3db8dcbfddddad8577216f934cc974ff$</string>
            <key>textureFileName</key>
            <string>stagedone_win_tag_light.png</string>
        </dict>
    </dict>
</plist>
