<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stageselect_star.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageselect_star.png</string>
            <key>size</key>
            <string>{34,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a83d5120e8278174dd3d819b2a258092:db40fd1749b5665e4eae250e93a2e893:62f0e724f3e37572248d144b25ee0e81$</string>
            <key>textureFileName</key>
            <string>stageselect_star.png</string>
        </dict>
    </dict>
</plist>
