<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagecircle_skeleton1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stagecircle_skeleton1.png</string>
            <key>size</key>
            <string>{52,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ef3374a02357650d34198a0dd85cbe:2924aee0de188e2c501ab2aad6445cf1:36f9ec5dcc26c63d6474ad524034b285$</string>
            <key>textureFileName</key>
            <string>stagecircle_skeleton1.png</string>
        </dict>
    </dict>
</plist>
