<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stageselect_chapter_cursor.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stageselect_chapter_cursor.png</string>
            <key>size</key>
            <string>{36,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84c3e9260544a1cb81a0945b43510b1f:db35fd881a12e90269ef11268ce74dd9:12095c44d0b2b7571c95f99d665934a7$</string>
            <key>textureFileName</key>
            <string>stageselect_chapter_cursor.png</string>
        </dict>
    </dict>
</plist>
