<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagecircle_skeleton5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stagecircle_skeleton5.png</string>
            <key>size</key>
            <string>{52,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:840b570a846f12b73a4ca78ca03ecd3e:3587575fd40fc53bd7309d686af56f8a:c0a49ce34505c8bfa02d59d8618ce4a4$</string>
            <key>textureFileName</key>
            <string>stagecircle_skeleton5.png</string>
        </dict>
    </dict>
</plist>
