<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_complete_title.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,143}}</string>
                <key>sourceSize</key>
                <string>{202,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_complete_title.png</string>
            <key>size</key>
            <string>{206,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a4cc893eac631c2d7eee4e55792a9b:72717945088548ef583e819870d94d9e:24b84de53a258d8f049b10aa3f6efa92$</string>
            <key>textureFileName</key>
            <string>task_complete_title.png</string>
        </dict>
    </dict>
</plist>
