<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_exp_icon_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,31}}</string>
                <key>sourceSize</key>
                <string>{117,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_exp_icon_2.png</string>
            <key>size</key>
            <string>{121,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b305c8281dcc5bd30a2c7fd7d8e98991:caa83121ff36d826e073fa7e880f4d16:dca3530969da4d5b4e517c72c2786c4d$</string>
            <key>textureFileName</key>
            <string>task_exp_icon_2.png</string>
        </dict>
    </dict>
</plist>
