<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_button.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,63}}</string>
                <key>sourceSize</key>
                <string>{96,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_button.png</string>
            <key>size</key>
            <string>{100,67}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de24e80dc6bcaa4efcef4311746a69e3:476571424626c17a399f89eea8426916:1fbce09207e74503c1657c63fc9f6646$</string>
            <key>textureFileName</key>
            <string>task_button.png</string>
        </dict>
    </dict>
</plist>
