<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tavern_cost_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,39}}</string>
                <key>sourceSize</key>
                <string>{268,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tavern_cost_bg.png</string>
            <key>size</key>
            <string>{272,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94980eb5f5755c1bbea85f450f8b596a:82a2576f175c0e1b69aaeae304af3d32:8cc73a172fef23b3306140b23daa93e5$</string>
            <key>textureFileName</key>
            <string>tavern_cost_bg.png</string>
        </dict>
    </dict>
</plist>
