<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tavern_star_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tavern_star_1.png</string>
            <key>size</key>
            <string>{57,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6d2fb21b51d583286a6c61e11efaf7a:e95a8c90a7a692447d05548d3ae54d67:7d884cca782c3434c46a82a508165f6b$</string>
            <key>textureFileName</key>
            <string>tavern_star_1.png</string>
        </dict>
    </dict>
</plist>
