<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tavern_get_item_bg_light_purple.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,231}}</string>
                <key>sourceSize</key>
                <string>{230,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tavern_get_item_bg_light_purple.png</string>
            <key>size</key>
            <string>{234,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d61d49bb0257be847023911b983ea0c8:696d696c2e5b745b43bc5a7b2f4cd3fe:10b22dad76091079f5b66b5ebb5dc284$</string>
            <key>textureFileName</key>
            <string>tavern_get_item_bg_light_purple.png</string>
        </dict>
    </dict>
</plist>
