<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tavern_cost_frame.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,42}}</string>
                <key>sourceSize</key>
                <string>{179,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tavern_cost_frame.png</string>
            <key>size</key>
            <string>{183,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88e10402afb26380cdf1a6cb93091b3e:cd4a5b14ccbc30b011955eb9aa1a9ed2:2cc56732ce6f633a17251a3b9ea58e02$</string>
            <key>textureFileName</key>
            <string>tavern_cost_frame.png</string>
        </dict>
    </dict>
</plist>
