<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>timermask.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timermask.png</string>
            <key>size</key>
            <string>{138,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a3c05af60a4e6f36b46c278cd9da9fa:3ab045e11a4fbf3e8fdfd181721befff:27cd4866893ea242f0f19e8884536a4b$</string>
            <key>textureFileName</key>
            <string>timermask.png</string>
        </dict>
    </dict>
</plist>
