<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toast_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,87}}</string>
                <key>sourceSize</key>
                <string>{306,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toast_bg.png</string>
            <key>size</key>
            <string>{310,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7e096a2485a9a0472310e847aa9e731:55306bdac242400427907760d85cfd32:9d5fe5721bf108d4499e2b2a1a5947af$</string>
            <key>textureFileName</key>
            <string>toast_bg.png</string>
        </dict>
    </dict>
</plist>
