<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_finger.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial_finger.png</string>
            <key>size</key>
            <string>{57,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4526c6b638864d8bf4e12c574c197d:3668880a74e5579148f02aacd91f4f3a:f3f87d830ede89a3c2069a91e93a1d44$</string>
            <key>textureFileName</key>
            <string>tutorial_finger.png</string>
        </dict>
    </dict>
</plist>
