<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vitalityicon.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vitalityicon.png</string>
            <key>size</key>
            <string>{51,67}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ebcb438bf256d0eae13f780e36279dd:3371197f1d808b1eee337c53a7929fc8:0727257ca70be718892b7dad65048e97$</string>
            <key>textureFileName</key>
            <string>vitalityicon.png</string>
        </dict>
    </dict>
</plist>
