<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xp-progress.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,29}}</string>
                <key>sourceSize</key>
                <string>{94,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xp-progress.png</string>
            <key>size</key>
            <string>{98,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b86a1914e8b92138ec9bda23ac64bff6:69d43f8bc9e4d6faf14368ea81e422f0:acb8ed4ef6215066aa5bc43f6ebc7be7$</string>
            <key>textureFileName</key>
            <string>xp-progress.png</string>
        </dict>
    </dict>
</plist>
