<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_tips_button_close_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_tips_button_close_2.png</string>
            <key>size</key>
            <string>{67,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33b362e30b725ee99115422be062e9e0:f20b0f740276b5ba13f8b57835633764:e4e1d9b6d7a162581576b81219797692$</string>
            <key>textureFileName</key>
            <string>common_tips_button_close_2.png</string>
        </dict>
    </dict>
</plist>
