<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_reset_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_reset_bg.png</string>
            <key>size</key>
            <string>{79,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9769f23f679eb7f4cad66af9bf880c05:7a6a2775153e78840fff3e6b62812c5b:47e3be343ce04100cf4de7e87f03964f$</string>
            <key>textureFileName</key>
            <string>crusade_reset_bg.png</string>
        </dict>
    </dict>
</plist>
