<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_box_silver_light.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,108}}</string>
                <key>sourceSize</key>
                <string>{127,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_box_silver_light.png</string>
            <key>size</key>
            <string>{131,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f26f7ce991b1b9fae7a6aea9b8e11ba:9e81bbea287053156fe1ddd22b0c646a:9c1ec503f54884e225ac1bf4cace5a07$</string>
            <key>textureFileName</key>
            <string>crusade_box_silver_light.png</string>
        </dict>
    </dict>
</plist>
