<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_text_dead.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,27}}</string>
                <key>sourceSize</key>
                <string>{73,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_text_dead.png</string>
            <key>size</key>
            <string>{77,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ebbb93b64b59f9a69f07a5be19655dc:ef6c9cbb48117057b09acf361ee35cb8:75fd645626bdff9a4984d59dafeb85df$</string>
            <key>textureFileName</key>
            <string>crusade_text_dead.png</string>
        </dict>
    </dict>
</plist>
