<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_mp_bar.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,10}}</string>
                <key>sourceSize</key>
                <string>{75,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_mp_bar.png</string>
            <key>size</key>
            <string>{79,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d33d13fa82598cf9253640769f2832c1:15b261bf7ba7ffd6f977dc5fa0156841:07b0c480cf7090f53ee1f417faab1d61$</string>
            <key>textureFileName</key>
            <string>crusade_mp_bar.png</string>
        </dict>
    </dict>
</plist>
