<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_matrix_purple.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_matrix_purple.png</string>
            <key>size</key>
            <string>{134,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:834fba0e16f2f5d9d939224a91eef746:316e13f4bea51bf6573ffc14f92fc7ab:a4696c60f40755c37d27c12006d1f5cc$</string>
            <key>textureFileName</key>
            <string>dailylogin_matrix_purple.png</string>
        </dict>
    </dict>
</plist>
