<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_vip_12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_vip_12.png</string>
            <key>size</key>
            <string>{83,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599a6beedd418d050b8eddf5e1d31c84:b1f98fc750f9596a951b444a8e69497f:cc72e0ca76ff8eafd55895d434905b51$</string>
            <key>textureFileName</key>
            <string>dailylogin_vip_12.png</string>
        </dict>
    </dict>
</plist>
