<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_vip_3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_vip_3.png</string>
            <key>size</key>
            <string>{75,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bba707a6408d9e47826c371de78a2384:1c7eba4208454b98b8f0a0d02f4f4586:202ab6c4ee97a8b2deb1bf694f38319c$</string>
            <key>textureFileName</key>
            <string>dailylogin_vip_3.png</string>
        </dict>
    </dict>
</plist>
