<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_vip_8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_vip_8.png</string>
            <key>size</key>
            <string>{75,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39f09fc9185b21e2d96a141c7ec5dc1:b42ef5729bb9eb508ca9228ae2a8a4bb:93b39ebca9a0687063e84f253f9c87a7$</string>
            <key>textureFileName</key>
            <string>dailylogin_vip_8.png</string>
        </dict>
    </dict>
</plist>
