<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_frame.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{752,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,78}}</string>
                <key>sourceSize</key>
                <string>{752,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_frame.png</string>
            <key>size</key>
            <string>{756,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e88c906c13a1c53e28ae286ea0fd2c09:4142da47839466bd3019156255b8f48f:449011efb0fcfdfa9c84fbe09cf38c06$</string>
            <key>textureFileName</key>
            <string>dailylogin_frame.png</string>
        </dict>
    </dict>
</plist>
