<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_matrix_yellow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,127}}</string>
                <key>sourceSize</key>
                <string>{130,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_matrix_yellow.png</string>
            <key>size</key>
            <string>{134,131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9c6e34787435c4da0a638be93f877de:3fae3b7d6325d7b98a4e54f06f639166:4f1d3a6ffc5ed613a74c1f558317c173$</string>
            <key>textureFileName</key>
            <string>dailylogin_matrix_yellow.png</string>
        </dict>
    </dict>
</plist>
