<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_vip_14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_vip_14.png</string>
            <key>size</key>
            <string>{83,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c2729c222143358efe02812b71d0103:32372a06ed7dfba6f12eb1a930ae0899:ac421592759f0d87b1cf58b492b0ade3$</string>
            <key>textureFileName</key>
            <string>dailylogin_vip_14.png</string>
        </dict>
    </dict>
</plist>
