<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dailylogin_vip_7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dailylogin_vip_7.png</string>
            <key>size</key>
            <string>{75,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025d29c7d9c70c7e2cdde3fbe6e21db7:d7fd4a7ccfd25383082cba4fbd1c2c5b:648ba32b1ee7cad49c414414dd232b69$</string>
            <key>textureFileName</key>
            <string>dailylogin_vip_7.png</string>
        </dict>
    </dict>
</plist>
