<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_tab_normal.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,51}}</string>
                <key>sourceSize</key>
                <string>{181,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_tab_normal.png</string>
            <key>size</key>
            <string>{185,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f45a8c83c85961c5ac73aaaa1e54a521:669b2415d53cb16fc416edeeff45afd7:c486a05d7f3822743aafde828794db2e$</string>
            <key>textureFileName</key>
            <string>chat_tab_normal.png</string>
        </dict>
    </dict>
</plist>
