<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_input.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{745,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{745,95}}</string>
                <key>sourceSize</key>
                <string>{745,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_input.png</string>
            <key>size</key>
            <string>{749,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79743f6fb2ef73184b07c3ebf7b83eb7:96d18d865ab5437d2aa8b1dfb104f4a2:09f3107c6922ebb2b83cb834704e41fb$</string>
            <key>textureFileName</key>
            <string>chat_input.png</string>
        </dict>
    </dict>
</plist>
