<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_replay_vs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_replay_vs.png</string>
            <key>size</key>
            <string>{61,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a78b12057b7c1e45ca522afb0295b704:7883ff5415292cff988bd7fac7eb910f:2106ee4f54e2bb73686e0a6b06242a07$</string>
            <key>textureFileName</key>
            <string>chat_replay_vs.png</string>
        </dict>
    </dict>
</plist>
