<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_tab_current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,51}}</string>
                <key>sourceSize</key>
                <string>{181,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_tab_current.png</string>
            <key>size</key>
            <string>{185,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a788fbd6e83117cafbc62bdc99b8770:bdc383a67875d119fc4b914c016e1c7c:c070fd90377dfcd9dcd2e5f6132e793b$</string>
            <key>textureFileName</key>
            <string>chat_tab_current.png</string>
        </dict>
    </dict>
</plist>
