<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_delimeter.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{728,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{728,3}}</string>
                <key>sourceSize</key>
                <string>{728,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_delimeter.png</string>
            <key>size</key>
            <string>{732,7}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949795c4e1319402bb981d0e8a5ced4d:8f3bfccae2f28330c09821ec05e8d81c:25c35b0d3d49caa668532b8e221262ba$</string>
            <key>textureFileName</key>
            <string>chat_delimeter.png</string>
        </dict>
    </dict>
</plist>
