<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_head_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_head_bg.png</string>
            <key>size</key>
            <string>{105,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:379cd9afb5d600a44e154546c1219eb2:bf1f0d175ed74e8191445e0d0e6214a9:52c11b7bdc6dcba8db0b87f4570beec2$</string>
            <key>textureFileName</key>
            <string>main_head_bg.png</string>
        </dict>
    </dict>
</plist>
