<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_rank_3rd_light.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_rank_3rd_light.png</string>
            <key>size</key>
            <string>{149,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e08978da21f96dd7ea486ac412bc3b:5fef033328a19a75bbd387f32abba1fb:8d05a6ccc874d4841d39b03f51cbc408$</string>
            <key>textureFileName</key>
            <string>pvp_rank_3rd_light.png</string>
        </dict>
    </dict>
</plist>
