<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_button_replay_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_button_replay_1.png</string>
            <key>size</key>
            <string>{80,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:250523e8b9524204783bec293823265b:034644d37d90e8daa45f2b6b19a86f40:10906b79e362a9d8bc39b715a837d60e$</string>
            <key>textureFileName</key>
            <string>pvp_button_replay_1.png</string>
        </dict>
    </dict>
</plist>
