<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_rank_bg_1st.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,97}}</string>
                <key>sourceSize</key>
                <string>{638,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_rank_bg_1st.png</string>
            <key>size</key>
            <string>{642,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b014cdb15d4a225d0a41d34367bba198:9e2fee31da329974bdfaf02f2afbf4e6:a93c0a3d2fd9010a78bae29bee23d905$</string>
            <key>textureFileName</key>
            <string>pvp_rank_bg_1st.png</string>
        </dict>
    </dict>
</plist>
