<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_up.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_up.png</string>
            <key>size</key>
            <string>{37,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b41a0d32489b72571657ffd97e0cb776:436bd2dab97a90efc2ef58a9793c0f23:d7608eb000e5d9813d845d989e8e21c9$</string>
            <key>textureFileName</key>
            <string>pvp_up.png</string>
        </dict>
    </dict>
</plist>
