<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_rank_2nd_light.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,143}}</string>
                <key>sourceSize</key>
                <string>{145,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_rank_2nd_light.png</string>
            <key>size</key>
            <string>{149,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc2acd41c4cde018d24675e5b53315d:f7b1fc3a6bd3b813594140c3e28b57f1:7986808af0809542802f0e5cff7f7a5a$</string>
            <key>textureFileName</key>
            <string>pvp_rank_2nd_light.png</string>
        </dict>
    </dict>
</plist>
