<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_tip_title_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,44}}</string>
                <key>sourceSize</key>
                <string>{474,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_tip_title_bg.png</string>
            <key>size</key>
            <string>{478,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ff8f4fe1976cb21f4d4092014f185df:e82c7ce4785fb4728706d1153e40b99e:0bdc89256b05bae3848c841609e74d4b$</string>
            <key>textureFileName</key>
            <string>pvp_tip_title_bg.png</string>
        </dict>
    </dict>
</plist>
