<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_lose.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,63}}</string>
                <key>sourceSize</key>
                <string>{36,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_lose.png</string>
            <key>size</key>
            <string>{40,67}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9407d0c44d4eecff70006a74425628b:b474db7df16e8857e0e13a5f61b581f7:9968aa287316c7a4572e9df93cd6bae4$</string>
            <key>textureFileName</key>
            <string>pvp_lose.png</string>
        </dict>
    </dict>
</plist>
