<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_rank_1st.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_rank_1st.png</string>
            <key>size</key>
            <string>{74,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4ea83e5db085bfdaa832364a29bbf0:2e08ed39dbb67173e040ea425026cf2e:8cae84d8bd0aeac96adb26cc5ba2d847$</string>
            <key>textureFileName</key>
            <string>pvp_rank_1st.png</string>
        </dict>
    </dict>
</plist>
