<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>-.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,27}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>-.png</string>
            <key>size</key>
            <string>{18,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a7b0ed60233216a2ad869fc45b5704:f6acfe3f2ccec72ad3065ea030fc4b28:a5859f7ddb12ab059a9a9144c0720eee$</string>
            <key>textureFileName</key>
            <string>-.png</string>
        </dict>
    </dict>
</plist>
