<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6.png</string>
            <key>size</key>
            <string>{24,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b29aa550b8599ea86e63a6827e68b80:603c93cc328109b61b0e7a31c153f564:460b468c0026515986d21cc11c384725$</string>
            <key>textureFileName</key>
            <string>6.png</string>
        </dict>
    </dict>
</plist>
