<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-194-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,212}}</string>
                <key>sourceSize</key>
                <string>{211,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-194-locked.png</string>
            <key>size</key>
            <string>{215,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5fcf6ae70bb5ccc2af1fb0ac045bfe9:a4653fb2c284c214b6603a41c0716b68:b3fae2f91b0fa960aa88989db5215d0d$</string>
            <key>textureFileName</key>
            <string>stage-194-locked.png</string>
        </dict>
    </dict>
</plist>
