<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-109.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,181}}</string>
                <key>sourceSize</key>
                <string>{205,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-109.png</string>
            <key>size</key>
            <string>{209,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e569ce07133ccc025843e6ff7a6e023:f6646a7cefb196fec2bc7f135fb3ec9a:8b45cd0605ee0dc6148061feae3623db$</string>
            <key>textureFileName</key>
            <string>stage-109.png</string>
        </dict>
    </dict>
</plist>
