<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-33-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,190}}</string>
                <key>sourceSize</key>
                <string>{210,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-33-locked.png</string>
            <key>size</key>
            <string>{214,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69f334f553174efd2385d2cd1c895666:9528a1286afa2e5594a6a2270f102dd0:50d5bd6234bb7ed893e001628596c5e7$</string>
            <key>textureFileName</key>
            <string>stage-33-locked.png</string>
        </dict>
    </dict>
</plist>
