<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-157-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,202}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-157-passed.png</string>
            <key>size</key>
            <string>{215,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab223b9fbd324ff3cc34afc6c3f69d2a:ae4a0368255519c6f4ebf17e6f57d23c:f887acd5f6d4c092691be085b9539820$</string>
            <key>textureFileName</key>
            <string>stage-157-passed.png</string>
        </dict>
    </dict>
</plist>
