<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-39-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,199}}</string>
                <key>sourceSize</key>
                <string>{210,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-39-passed.png</string>
            <key>size</key>
            <string>{214,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7841e5cf64fd7fb1bc7a701087845741:aaaba134036cd384edf07caefe222895:4e1869ab28b204c1114474b8d4134156$</string>
            <key>textureFileName</key>
            <string>stage-39-passed.png</string>
        </dict>
    </dict>
</plist>
