<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-160-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,194}}</string>
                <key>sourceSize</key>
                <string>{211,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-160-locked.png</string>
            <key>size</key>
            <string>{215,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f02acb7ddfda508541698cb16fd24ae6:c7b2bf7b625d5c43e45b0b7b56e4477e:af7ff1b5ccc3d6d2c59f910532c1e850$</string>
            <key>textureFileName</key>
            <string>stage-160-locked.png</string>
        </dict>
    </dict>
</plist>
