<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-95-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{205,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-95-passed.png</string>
            <key>size</key>
            <string>{209,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a36d5111ab8de790a3dcad2f0ed13dc1:a251e08536e1a55165cbcddcbf097e7e:ff9e11736ae0e1ebc5dd9144f14aef90$</string>
            <key>textureFileName</key>
            <string>stage-95-passed.png</string>
        </dict>
    </dict>
</plist>
