<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-200-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-200-locked.png</string>
            <key>size</key>
            <string>{214,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a032c119c0b200cf91ede0320464dec7:6b60566136349132f8f05f3981a2899e:4aeced94aaaeb5546ec15e6ceeda98f2$</string>
            <key>textureFileName</key>
            <string>stage-200-locked.png</string>
        </dict>
    </dict>
</plist>
