<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-170-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,197}}</string>
                <key>sourceSize</key>
                <string>{211,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-170-passed.png</string>
            <key>size</key>
            <string>{215,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f75d91d85e15b582d31f4dc64f096d0b:d31b141c7655e3671e3da92974d07135:a677515090f92550c8ecf18c286e972a$</string>
            <key>textureFileName</key>
            <string>stage-170-passed.png</string>
        </dict>
    </dict>
</plist>
