<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-143-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,197}}</string>
                <key>sourceSize</key>
                <string>{208,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-143-passed.png</string>
            <key>size</key>
            <string>{212,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0b56650df1241952ed0d831f7e22d13:ce68cf3696bdb0895b777e019d634a45:1abbc35f6054a229c74bffefde727f21$</string>
            <key>textureFileName</key>
            <string>stage-143-passed.png</string>
        </dict>
    </dict>
</plist>
