<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-170-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,197}}</string>
                <key>sourceSize</key>
                <string>{211,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-170-locked.png</string>
            <key>size</key>
            <string>{215,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b2426fc5afb9ce7cf3e33f10a2bbac3:65c9567482fcc7877be8b600963fd940:4799e475c73739bbde27bbeb6cf3dba4$</string>
            <key>textureFileName</key>
            <string>stage-170-locked.png</string>
        </dict>
    </dict>
</plist>
