<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-134-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,209}}</string>
                <key>sourceSize</key>
                <string>{207,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-134-passed.png</string>
            <key>size</key>
            <string>{211,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66f0ec73c7ef853ecaeb9ef02b125e06:9e81bc2b5653ee07e27a9f9eb1d1934e:447901f6120119e8ba4d56fba6ea0e1e$</string>
            <key>textureFileName</key>
            <string>stage-134-passed.png</string>
        </dict>
    </dict>
</plist>
