<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-58-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,197}}</string>
                <key>sourceSize</key>
                <string>{224,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-58-passed.png</string>
            <key>size</key>
            <string>{228,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bceb32f00cc68f40b51abf398d93d818:dd9d545a62b5b4851bfac8522d22d86d:e97ed81e778567abb2280f4c456382b9$</string>
            <key>textureFileName</key>
            <string>stage-58-passed.png</string>
        </dict>
    </dict>
</plist>
