<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-91-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,197}}</string>
                <key>sourceSize</key>
                <string>{210,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-91-passed.png</string>
            <key>size</key>
            <string>{214,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd8702f3ee80bc62f395475fa53c9af4:06b3eeeaf4433bf611380af4b16f3c93:cbeedf4299246454d71307b94696eadd$</string>
            <key>textureFileName</key>
            <string>stage-91-passed.png</string>
        </dict>
    </dict>
</plist>
