<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-216-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,217}}</string>
                <key>sourceSize</key>
                <string>{211,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-216-current.png</string>
            <key>size</key>
            <string>{215,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d9c2f321ff6808d763f0b0c3001c90:164f947250060a011012903ac3c5c3ea:6c4b9d543c1eb3e86d306f27e1003381$</string>
            <key>textureFileName</key>
            <string>stage-216-current.png</string>
        </dict>
    </dict>
</plist>
