<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-123-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,179}}</string>
                <key>sourceSize</key>
                <string>{207,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-123-passed.png</string>
            <key>size</key>
            <string>{211,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66899b87c1fe46f0fa5e520a056482fb:c6505b06a418283955372fbecd8d43f8:50cf832b5ae2eed386bdc3a89681f710$</string>
            <key>textureFileName</key>
            <string>stage-123-passed.png</string>
        </dict>
    </dict>
</plist>
