<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-98-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,163}}</string>
                <key>sourceSize</key>
                <string>{205,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-98-passed.png</string>
            <key>size</key>
            <string>{209,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9be4b4649d21b86cc15511c4a1db8ad4:b3548becca8401faae9a3433bcdc24a8:a6390e1f7040c25b461842fea1bf40b1$</string>
            <key>textureFileName</key>
            <string>stage-98-passed.png</string>
        </dict>
    </dict>
</plist>
