<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-42-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,221}}</string>
                <key>sourceSize</key>
                <string>{218,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-42-current.png</string>
            <key>size</key>
            <string>{222,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:654e276802129be72a908fcc658de1a4:3045a8bf8fcea3aac8344d67d7a22c56:9387d4f738dfe885c769ef0456511818$</string>
            <key>textureFileName</key>
            <string>stage-42-current.png</string>
        </dict>
    </dict>
</plist>
