<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-157-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,202}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-157-locked.png</string>
            <key>size</key>
            <string>{215,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4494925b172c08170d1f65728526a9e:384bd6e844c4a11d468d57e38d74a213:601d79a2d118298bc3a293e4d1854e87$</string>
            <key>textureFileName</key>
            <string>stage-157-locked.png</string>
        </dict>
    </dict>
</plist>
