<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-33.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,190}}</string>
                <key>sourceSize</key>
                <string>{210,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-33.png</string>
            <key>size</key>
            <string>{214,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce5a2651ee900b9ac68e04aac299d46:20992a0671e1f0927d2c595203a56637:94bb29130f88e819fc9c82b877e3fab0$</string>
            <key>textureFileName</key>
            <string>stage-33.png</string>
        </dict>
    </dict>
</plist>
