<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-231.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,217}}</string>
                <key>sourceSize</key>
                <string>{210,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-231.png</string>
            <key>size</key>
            <string>{214,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ed78eec5b2e944127eb8978b9915ac4:0a68ef7034f46748a0d83363ce1bb31b:7f2eea3574a8c887233fa3098bafa0d5$</string>
            <key>textureFileName</key>
            <string>stage-231.png</string>
        </dict>
    </dict>
</plist>
