<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-79.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,173}}</string>
                <key>sourceSize</key>
                <string>{210,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-79.png</string>
            <key>size</key>
            <string>{214,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8178415ebb6848ca7646cfc57747fe59:fdeca82ea6dc4c143f48edd34e10f2f1:6d45971674313e5c5bf3950d6409027a$</string>
            <key>textureFileName</key>
            <string>stage-79.png</string>
        </dict>
    </dict>
</plist>
