<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-85-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,171}}</string>
                <key>sourceSize</key>
                <string>{159,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-85-locked.png</string>
            <key>size</key>
            <string>{163,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc6d4849e883773650989bccfc83ea6a:d84d195fd1f3a6c74b5eb8e2c1ad7806:a75264c6aeb79f93d439b26ef1ea4965$</string>
            <key>textureFileName</key>
            <string>stage-85-locked.png</string>
        </dict>
    </dict>
</plist>
