<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-30-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,191}}</string>
                <key>sourceSize</key>
                <string>{210,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-30-passed.png</string>
            <key>size</key>
            <string>{214,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e017815c90d4c9174a7bc9fc3d93fb2:ad3974fd047a0cd703f555a95abd19c5:7da8cacc72c96f93c2a9c8ea358d0ed8$</string>
            <key>textureFileName</key>
            <string>stage-30-passed.png</string>
        </dict>
    </dict>
</plist>
