<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-134-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,209}}</string>
                <key>sourceSize</key>
                <string>{207,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-134-current.png</string>
            <key>size</key>
            <string>{211,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dca8464fa68e33e58b7eef0a55fe0f9:a0b0058fb1ad97e623efc2b82da5de4c:734309567f0ba0a124a80fed8538ca26$</string>
            <key>textureFileName</key>
            <string>stage-134-current.png</string>
        </dict>
    </dict>
</plist>
