<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-218-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,227}}</string>
                <key>sourceSize</key>
                <string>{217,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-218-current.png</string>
            <key>size</key>
            <string>{221,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69815f688921bf417b72f9ca7bc923c0:557d8caae9d419ee4af6d18a0730d360:ce0f677a988a665ca627fceea15996d8$</string>
            <key>textureFileName</key>
            <string>stage-218-current.png</string>
        </dict>
    </dict>
</plist>
