<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-95-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{205,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-95-current.png</string>
            <key>size</key>
            <string>{209,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7540d32b1e38cb304980fa55a8d5978c:4e51f83b23bbbe261e0cf7f24ce0d025:021562106ea1a3d57461751464327f9a$</string>
            <key>textureFileName</key>
            <string>stage-95-current.png</string>
        </dict>
    </dict>
</plist>
