<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-88.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,205}}</string>
                <key>sourceSize</key>
                <string>{211,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-88.png</string>
            <key>size</key>
            <string>{215,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:972aa441bcdbc7374dded7c40406a07f:6d8475082f662c970fb3a6c2cb772aee:73f9f082ebbd0fafecde8c3d77589c92$</string>
            <key>textureFileName</key>
            <string>stage-88.png</string>
        </dict>
    </dict>
</plist>
