<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-157-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,202}}</string>
                <key>sourceSize</key>
                <string>{211,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-157-current.png</string>
            <key>size</key>
            <string>{215,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0329d0b43ad230d8e28b6e66f49cfe:52df47108ebae6746aba117094c20289:b81bc9f9ce4add397a096d8889bd8bb0$</string>
            <key>textureFileName</key>
            <string>stage-157-current.png</string>
        </dict>
    </dict>
</plist>
