<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-42-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,221}}</string>
                <key>sourceSize</key>
                <string>{218,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-42-locked.png</string>
            <key>size</key>
            <string>{222,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00adb0acc6838477491134da6a96e4fe:fbb71aeca25731e53771794db1df9cf4:d910208435a5f3630423484a81b0d909$</string>
            <key>textureFileName</key>
            <string>stage-42-locked.png</string>
        </dict>
    </dict>
</plist>
