<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-15-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,184}}</string>
                <key>sourceSize</key>
                <string>{209,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-15-locked.png</string>
            <key>size</key>
            <string>{213,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e5cde1cba3423dd24424f485052bd16:57c8d3ee79fa0e408c84485c3774f1af:6b962c983362f530f351c12ccb389eb5$</string>
            <key>textureFileName</key>
            <string>stage-15-locked.png</string>
        </dict>
    </dict>
</plist>
