<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-18-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,189}}</string>
                <key>sourceSize</key>
                <string>{209,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-18-locked.png</string>
            <key>size</key>
            <string>{213,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9e774239743b2d45336e078a2597ab1:a745ff50ca9da1ffa405626342ecf540:b4d7624484c431096c8f43b45df09761$</string>
            <key>textureFileName</key>
            <string>stage-18-locked.png</string>
        </dict>
    </dict>
</plist>
