<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-206-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,217}}</string>
                <key>sourceSize</key>
                <string>{211,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-206-passed.png</string>
            <key>size</key>
            <string>{215,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a33478ab76f22ec208fcf35d33eb29:b5bd8f14df39aa68091ba8b3b68fcfa9:59e8f3d33de47335e23b2bd98ab34b3d$</string>
            <key>textureFileName</key>
            <string>stage-206-passed.png</string>
        </dict>
    </dict>
</plist>
