<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-60.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-60.png</string>
            <key>size</key>
            <string>{212,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecadd36d9407708f10c40e3546a2496b:5f09da90c059ecf27cdab06caece8716:d4227691fba04f31c0a19abfe7659fa6$</string>
            <key>textureFileName</key>
            <string>stage-60.png</string>
        </dict>
    </dict>
</plist>
