<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-45-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,185}}</string>
                <key>sourceSize</key>
                <string>{211,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-45-current.png</string>
            <key>size</key>
            <string>{215,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d893340027e7815dc6b6f62c47d5a14:96d7eed2326a15a8c5876f5836f6dc50:407b2a3f0ef11b1954670c84f85e6ff0$</string>
            <key>textureFileName</key>
            <string>stage-45-current.png</string>
        </dict>
    </dict>
</plist>
