<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-98-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,163}}</string>
                <key>sourceSize</key>
                <string>{205,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-98-locked.png</string>
            <key>size</key>
            <string>{209,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac32bbc727ed618f4622ffb220fe4654:160c7eda22f12098ae533aff57e85b61:031406f227272999b84248f7aad5472f$</string>
            <key>textureFileName</key>
            <string>stage-98-locked.png</string>
        </dict>
    </dict>
</plist>
