<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-140-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,181}}</string>
                <key>sourceSize</key>
                <string>{208,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-140-current.png</string>
            <key>size</key>
            <string>{212,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4df73a9a7f1045e87dfcd8e7eaad3833:5977560e244a6830063337a1b878cb8b:a7fb60ea73f91232a1cd9426398794f0$</string>
            <key>textureFileName</key>
            <string>stage-140-current.png</string>
        </dict>
    </dict>
</plist>
