<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-85.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,226}}</string>
                <key>sourceSize</key>
                <string>{210,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-85.png</string>
            <key>size</key>
            <string>{214,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3775e4f20080ecb2596da511f87f258f:ad7338bb55ec59f6553e89b119c74d3b:17502183fc2abf6d65f2ba344c87bba4$</string>
            <key>textureFileName</key>
            <string>stage-85.png</string>
        </dict>
    </dict>
</plist>
