<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-27-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,182}}</string>
                <key>sourceSize</key>
                <string>{211,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-27-current.png</string>
            <key>size</key>
            <string>{215,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3160b96b33cc47a52b2447030fd08c45:02c094bad96ceb29ce40a8ad93560b51:137b228d3ff8791ea720a166d03d3662$</string>
            <key>textureFileName</key>
            <string>stage-27-current.png</string>
        </dict>
    </dict>
</plist>
