<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-129-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,216}}</string>
                <key>sourceSize</key>
                <string>{207,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-129-passed.png</string>
            <key>size</key>
            <string>{211,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:312c68f38559c81fef3d79c52befda49:3945d55b9e3df7a554cc40c67322315a:8561d70a82042277ad0fcb180f08898b$</string>
            <key>textureFileName</key>
            <string>stage-129-passed.png</string>
        </dict>
    </dict>
</plist>
