<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-160.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,194}}</string>
                <key>sourceSize</key>
                <string>{211,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-160.png</string>
            <key>size</key>
            <string>{215,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b27315d85f624c3cfc26abd262dff7d7:d4764a1c535b8378a3c93db527b81557:83262fb3df0849ed38f8991bf1e6dd3a$</string>
            <key>textureFileName</key>
            <string>stage-160.png</string>
        </dict>
    </dict>
</plist>
