<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-229.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,229}}</string>
                <key>sourceSize</key>
                <string>{210,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-229.png</string>
            <key>size</key>
            <string>{214,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef6bf2ee110b476bef135e65b4e1673f:200be42e2c5827a8e709bea63fce1ae6:296e16d8b6b3c582a7e4610b0123d380$</string>
            <key>textureFileName</key>
            <string>stage-229.png</string>
        </dict>
    </dict>
</plist>
