<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-1-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,181}}</string>
                <key>sourceSize</key>
                <string>{209,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-1-passed.png</string>
            <key>size</key>
            <string>{213,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bae3f8920e567cd8d808a5ba7fb990b:73afd4a6f55fb85b62a639b474b57fa0:8988db77b7db62e0f6a209df6cd3341c$</string>
            <key>textureFileName</key>
            <string>stage-1-passed.png</string>
        </dict>
    </dict>
</plist>
