<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-107.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,176}}</string>
                <key>sourceSize</key>
                <string>{205,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-107.png</string>
            <key>size</key>
            <string>{209,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58fed02cb9e8b81dfd06f538cd51ca70:e89f76a951187e0ce113c1b6cbf15a30:9cc1a47445f1d17541e89ad2694b3fcc$</string>
            <key>textureFileName</key>
            <string>stage-107.png</string>
        </dict>
    </dict>
</plist>
