<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-53-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,223}}</string>
                <key>sourceSize</key>
                <string>{211,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-53-current.png</string>
            <key>size</key>
            <string>{215,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8653d276ed6a0621dd2131e91786ca:185d83aa2c4f3b9764f101bff886bedd:c911c628c6bd6b7f4142789840330ad2$</string>
            <key>textureFileName</key>
            <string>stage-53-current.png</string>
        </dict>
    </dict>
</plist>
