<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-60-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-60-locked.png</string>
            <key>size</key>
            <string>{212,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41771d9d99dbec2f7ef05cc146fb0068:53cba0a3e3b2943eca3f242755ca5183:14f6cc2843bf7fe860d3fa0883626b1f$</string>
            <key>textureFileName</key>
            <string>stage-60-locked.png</string>
        </dict>
    </dict>
</plist>
