<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-152-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,210}}</string>
                <key>sourceSize</key>
                <string>{207,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-152-current.png</string>
            <key>size</key>
            <string>{211,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be20dead570176355dd71d05b54d2a26:e05f2d8737771f422cafe9cc61c75995:fcc4ff00f07880d3179fc7edda534c31$</string>
            <key>textureFileName</key>
            <string>stage-152-current.png</string>
        </dict>
    </dict>
</plist>
