<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-132-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,197}}</string>
                <key>sourceSize</key>
                <string>{207,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-132-locked.png</string>
            <key>size</key>
            <string>{211,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7cc1a5d07cb91287d991a9a29471d6a:91ddab1e742bc0a0e8778c7bd73ed56d:77e946834665e9974e39ba3f3b4b37c1$</string>
            <key>textureFileName</key>
            <string>stage-132-locked.png</string>
        </dict>
    </dict>
</plist>
