<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-27.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,182}}</string>
                <key>sourceSize</key>
                <string>{211,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-27.png</string>
            <key>size</key>
            <string>{215,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76ab5ee91fa5016d1df5d60301068165:4cf8a6d6ea72f794037c35067d03937c:0f4db043ea7c00a7bb1d8b49cee96978$</string>
            <key>textureFileName</key>
            <string>stage-27.png</string>
        </dict>
    </dict>
</plist>
