<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-82.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,213}}</string>
                <key>sourceSize</key>
                <string>{211,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-82.png</string>
            <key>size</key>
            <string>{215,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62cef7507b8cf0b5b4c7d85c601319fb:bc806c79ba7d354dea253d884aeceb1d:eba64dac49d908ee20d8c816511ceac8$</string>
            <key>textureFileName</key>
            <string>stage-82.png</string>
        </dict>
    </dict>
</plist>
