<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-79-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,173}}</string>
                <key>sourceSize</key>
                <string>{210,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-79-locked.png</string>
            <key>size</key>
            <string>{214,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9575be59721d14cd3c652e57cd21a8ec:9335fb738b88e212a653715366222b27:00e0b446bee85a6b8aa35f6902eff8ad$</string>
            <key>textureFileName</key>
            <string>stage-79-locked.png</string>
        </dict>
    </dict>
</plist>
