<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-167-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,195}}</string>
                <key>sourceSize</key>
                <string>{211,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-167-locked.png</string>
            <key>size</key>
            <string>{215,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93f1650c0fd77eee1c1fdcb893246206:ca538fa3ad43f21baea01d746c8b5d75:f8ab3ff479b17c70bd3f95e6b7b236bb$</string>
            <key>textureFileName</key>
            <string>stage-167-locked.png</string>
        </dict>
    </dict>
</plist>
