<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-48.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,177}}</string>
                <key>sourceSize</key>
                <string>{211,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-48.png</string>
            <key>size</key>
            <string>{215,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc1c7de230a5a0f74a0af0b72c32578d:dcee60ae7de1e424e3cd8d4ee6665841:196bff579a0a923a71e523c03d7ff48f$</string>
            <key>textureFileName</key>
            <string>stage-48.png</string>
        </dict>
    </dict>
</plist>
