<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-197-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,229}}</string>
                <key>sourceSize</key>
                <string>{210,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-197-passed.png</string>
            <key>size</key>
            <string>{214,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc9394bae8701a7a26c5f331d8a50396:ca87d564200128c10b07e33446ca3bd8:a58ec5360f774a54efd0be4def771a65$</string>
            <key>textureFileName</key>
            <string>stage-197-passed.png</string>
        </dict>
    </dict>
</plist>
