<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-160-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,194}}</string>
                <key>sourceSize</key>
                <string>{211,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-160-current.png</string>
            <key>size</key>
            <string>{215,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db6d101de7182260ee36eda5eba537a:9bcc68cd5729759d44eb5ca072bd3a06:a0d59119084f76a740e5b26c6cfb8165$</string>
            <key>textureFileName</key>
            <string>stage-160-current.png</string>
        </dict>
    </dict>
</plist>
