<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-187-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-187-locked.png</string>
            <key>size</key>
            <string>{215,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b86bdaf86eb6513a8d84328daff77e9:b731f712f5c28ca85d0693ce4efd2d9f:e1f27c94b99072cb572c2949cba85417$</string>
            <key>textureFileName</key>
            <string>stage-187-locked.png</string>
        </dict>
    </dict>
</plist>
