<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-104-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,195}}</string>
                <key>sourceSize</key>
                <string>{205,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-104-current.png</string>
            <key>size</key>
            <string>{209,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bc893004c7343fb7bde43a464b0ba3:228e8bdeef57f361f2c064a2b7f74c45:c3a8e60eda917be099135dc2b9f28c6b$</string>
            <key>textureFileName</key>
            <string>stage-104-current.png</string>
        </dict>
    </dict>
</plist>
