<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-224.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,207}}</string>
                <key>sourceSize</key>
                <string>{210,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-224.png</string>
            <key>size</key>
            <string>{214,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a32605e747297d43be72d88765f7add1:05142a3bcf836b34f7cdfe713582875d:d45dbf41cc6170138cf577f93e0505d3$</string>
            <key>textureFileName</key>
            <string>stage-224.png</string>
        </dict>
    </dict>
</plist>
