<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-95-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{205,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-95-locked.png</string>
            <key>size</key>
            <string>{209,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d316e11ec8e4261d5ea23ac51ca533:0c5a56a56ff9d6313483198c5f8269b6:623ee2ba01ee6a193a2e0bd62da4bc54$</string>
            <key>textureFileName</key>
            <string>stage-95-locked.png</string>
        </dict>
    </dict>
</plist>
