<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-216-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,217}}</string>
                <key>sourceSize</key>
                <string>{211,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-216-locked.png</string>
            <key>size</key>
            <string>{215,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef3dbdfdc9bc87d1afc332d965c721c9:aa0c691eb5dd6e7ed335cc620c1e5d6c:012b80a0e1ac365f09f428dc37d32957$</string>
            <key>textureFileName</key>
            <string>stage-216-locked.png</string>
        </dict>
    </dict>
</plist>
