<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-181-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,197}}</string>
                <key>sourceSize</key>
                <string>{211,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-181-current.png</string>
            <key>size</key>
            <string>{215,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6bac0aff8e7342c720e5b7fb88ea4ff:37e3dcf0bc35021fc9d7d50da8278dd3:e373690acb4746360a7f64aae3da7682$</string>
            <key>textureFileName</key>
            <string>stage-181-current.png</string>
        </dict>
    </dict>
</plist>
