<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-221-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,227}}</string>
                <key>sourceSize</key>
                <string>{213,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-221-current.png</string>
            <key>size</key>
            <string>{217,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6967df3c736a63bac82b85ee3a67fb7b:39c634e259123bf18415d3cf7cf60deb:b3cf1dd0275ad4490326530ef4e4d7a2$</string>
            <key>textureFileName</key>
            <string>stage-221-current.png</string>
        </dict>
    </dict>
</plist>
