<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-104-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,195}}</string>
                <key>sourceSize</key>
                <string>{205,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-104-locked.png</string>
            <key>size</key>
            <string>{209,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b72d4696bb253367efe74f416526a5d1:bd9851151255f5195b9656fe4c92fbad:34bd9b5927c3f744fa1d1d57aaa8fe96$</string>
            <key>textureFileName</key>
            <string>stage-104-locked.png</string>
        </dict>
    </dict>
</plist>
