<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-45.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,185}}</string>
                <key>sourceSize</key>
                <string>{211,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-45.png</string>
            <key>size</key>
            <string>{215,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0266a8d315213b9435b8dcfb7ce7f72:a43477c2dbe7906f98fb5dbc3416f2f8:a893eded07c7f12ea8cb5eeffb43f73f$</string>
            <key>textureFileName</key>
            <string>stage-45.png</string>
        </dict>
    </dict>
</plist>
