<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-126-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,169}}</string>
                <key>sourceSize</key>
                <string>{207,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-126-passed.png</string>
            <key>size</key>
            <string>{211,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3733d86f975a3bd109523b9a4be7dc1b:ed38a90dc869fa2fb14417074151b601:eb88293176d1d973a08d489a86af62ba$</string>
            <key>textureFileName</key>
            <string>stage-126-passed.png</string>
        </dict>
    </dict>
</plist>
