<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-27-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,182}}</string>
                <key>sourceSize</key>
                <string>{211,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-27-passed.png</string>
            <key>size</key>
            <string>{215,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec71f083d073070baabfa1d371ab79d6:00da92dbc6d09f20c7b2b5651ca7046e:9fd14269487f2696498d360aaaf4e511$</string>
            <key>textureFileName</key>
            <string>stage-27-passed.png</string>
        </dict>
    </dict>
</plist>
