<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-203-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,230}}</string>
                <key>sourceSize</key>
                <string>{211,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-203-locked.png</string>
            <key>size</key>
            <string>{215,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6828438c42a41197e014d5c4e35c3765:12f3ea11ca95c4c97f4548acd3e4d676:ab6de417faa819671b821a1b322edf9f$</string>
            <key>textureFileName</key>
            <string>stage-203-locked.png</string>
        </dict>
    </dict>
</plist>
