<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-20-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,205}}</string>
                <key>sourceSize</key>
                <string>{210,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-20-locked.png</string>
            <key>size</key>
            <string>{214,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032bee43d0ed15735f09c44ddcd9b25a:063dfd26b919e8fc4e56d727c96bfbf0:053424d6d84b895f56573c0eea701323$</string>
            <key>textureFileName</key>
            <string>stage-20-locked.png</string>
        </dict>
    </dict>
</plist>
