<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-48-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,177}}</string>
                <key>sourceSize</key>
                <string>{211,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-48-passed.png</string>
            <key>size</key>
            <string>{215,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a73b141b9adb719bbc6255537ab0c4a9:521effe16c1bbef4ee38acbc7b238224:e121432c749f006d553a74e247f0b0dd$</string>
            <key>textureFileName</key>
            <string>stage-48-passed.png</string>
        </dict>
    </dict>
</plist>
