<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-176-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,203}}</string>
                <key>sourceSize</key>
                <string>{212,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-176-current.png</string>
            <key>size</key>
            <string>{216,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82ebbb9ad271ca129808e761b720d4f1:8f7381b1aa5c209bd21a7e4a93a5483a:95982be2da44d24b07d5e51cf46e276c$</string>
            <key>textureFileName</key>
            <string>stage-176-current.png</string>
        </dict>
    </dict>
</plist>
