<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-167-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,195}}</string>
                <key>sourceSize</key>
                <string>{211,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-167-passed.png</string>
            <key>size</key>
            <string>{215,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a4c6dc89d48cabc346ef9c6538b3e10:2a1941b63dadc4ec9defd45ae7d70e22:93c9dc0bbca94f73f8b6f4f4f78baeb0$</string>
            <key>textureFileName</key>
            <string>stage-167-passed.png</string>
        </dict>
    </dict>
</plist>
