<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-179-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,205}}</string>
                <key>sourceSize</key>
                <string>{211,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-179-locked.png</string>
            <key>size</key>
            <string>{215,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:489340f91785a1244afcd2dfb577ecb6:a4c73bcd70ecc9ccafa36c46c41b1e64:573f3b62adf516eb5280b29e42a20924$</string>
            <key>textureFileName</key>
            <string>stage-179-locked.png</string>
        </dict>
    </dict>
</plist>
