<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-212-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,225}}</string>
                <key>sourceSize</key>
                <string>{211,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-212-passed.png</string>
            <key>size</key>
            <string>{215,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7da9e7fd01775dc2d6bdea96f34778c4:7bc1c9d236072e159caaf7cb6405df89:cfc0501a0b1b305c44e37d6761fed8dd$</string>
            <key>textureFileName</key>
            <string>stage-212-passed.png</string>
        </dict>
    </dict>
</plist>
