<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-132.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,197}}</string>
                <key>sourceSize</key>
                <string>{207,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-132.png</string>
            <key>size</key>
            <string>{211,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a9ff8604a18bc1a0c2a0fda8d0ee16c:4522cb0ecc3842c5b1fc78d581ef83ba:2725040c7c2e714bbf5f502857760cbe$</string>
            <key>textureFileName</key>
            <string>stage-132.png</string>
        </dict>
    </dict>
</plist>
