<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-94-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,207}}</string>
                <key>sourceSize</key>
                <string>{210,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-94-passed.png</string>
            <key>size</key>
            <string>{214,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0a2e53250b65f1d77f329d159c6f0d6:1c4584155c66393387244921a5d4c9cf:d85a1b567944ca5c92cfa69a42b1a4df$</string>
            <key>textureFileName</key>
            <string>stage-94-passed.png</string>
        </dict>
    </dict>
</plist>
