<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-82-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,213}}</string>
                <key>sourceSize</key>
                <string>{211,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-82-locked.png</string>
            <key>size</key>
            <string>{215,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67299b5f6ab493e2571bcfc44a818555:e264cb673e2f0daf1eab6ca66849f43a:05c40b93a0fd0b8abeb98a2987916956$</string>
            <key>textureFileName</key>
            <string>stage-82-locked.png</string>
        </dict>
    </dict>
</plist>
