<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-4-current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,177}}</string>
                <key>sourceSize</key>
                <string>{209,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-4-current.png</string>
            <key>size</key>
            <string>{213,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aff5042f18eef2e477a1d7e0c2bd227:182765eedeeed5c5ba9cbb5e2fcbfa89:0bce1dae3e15e46e1b2dd8fa040cfa45$</string>
            <key>textureFileName</key>
            <string>stage-4-current.png</string>
        </dict>
    </dict>
</plist>
