<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-234-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,225}}</string>
                <key>sourceSize</key>
                <string>{211,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-234-passed.png</string>
            <key>size</key>
            <string>{215,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b50f5612ab72b80d9d75b9095b05ab:017e8ac95d02319ea1d0bad552172679:b4af1abeccdf743373e4b087d7299649$</string>
            <key>textureFileName</key>
            <string>stage-234-passed.png</string>
        </dict>
    </dict>
</plist>
