<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-60-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-60-passed.png</string>
            <key>size</key>
            <string>{212,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:510d33a88106548826f901cb2b395671:241c042fd0ff3f58c3d17d8b188cb8a4:ecaee4967a630a8e0ef57ad20953147b$</string>
            <key>textureFileName</key>
            <string>stage-60-passed.png</string>
        </dict>
    </dict>
</plist>
