<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-18-passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,189}}</string>
                <key>sourceSize</key>
                <string>{209,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-18-passed.png</string>
            <key>size</key>
            <string>{213,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d91c9485bac34532cde45404b0eb511:3b49d671d2de677f9f385bffa5313f96:48b8aa6744b8c965aef65473d9f89538$</string>
            <key>textureFileName</key>
            <string>stage-18-passed.png</string>
        </dict>
    </dict>
</plist>
