<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-162-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,201}}</string>
                <key>sourceSize</key>
                <string>{211,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-162-locked.png</string>
            <key>size</key>
            <string>{215,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a54f2c857e3da4d0fb7c9e7b2bc67063:6210e1f52023f9eba21884502ad04ae0:8370d2dc6ab89dd8b6d5854e1ce4d161$</string>
            <key>textureFileName</key>
            <string>stage-162-locked.png</string>
        </dict>
    </dict>
</plist>
