<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-149-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,217}}</string>
                <key>sourceSize</key>
                <string>{208,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-149-locked.png</string>
            <key>size</key>
            <string>{212,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fca2f18601a0d605d71bbf7db720a58:a15f86e2d16edc36bc77cfc0be6b647d:adc2c8aaaf9b28f6fb16cbb0b6d06a81$</string>
            <key>textureFileName</key>
            <string>stage-149-locked.png</string>
        </dict>
    </dict>
</plist>
