<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-190.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,201}}</string>
                <key>sourceSize</key>
                <string>{211,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-190.png</string>
            <key>size</key>
            <string>{215,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aad2d272ffedbfc3583ad5475d92b87b:9c3755f6b6f7e065300b31c2ba10db84:b05da79e6b08d6d626029cf959e6062b$</string>
            <key>textureFileName</key>
            <string>stage-190.png</string>
        </dict>
    </dict>
</plist>
