<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-226.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,219}}</string>
                <key>sourceSize</key>
                <string>{210,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-226.png</string>
            <key>size</key>
            <string>{214,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a2929a00a1094cdf87069a6e7e541d:c8ac217d9b6634fb1936c1d7d04b70a7:ac52ff62001f0f9c42393d841a9cd677$</string>
            <key>textureFileName</key>
            <string>stage-226.png</string>
        </dict>
    </dict>
</plist>
