<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-209.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,205}}</string>
                <key>sourceSize</key>
                <string>{214,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-209.png</string>
            <key>size</key>
            <string>{218,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6061debc15b51bce9abb74e9ace75a24:c9f4029f17edd968bf6cbf2acb8f5666:c95b17d617534ee7f34f3efe3ec5842d$</string>
            <key>textureFileName</key>
            <string>stage-209.png</string>
        </dict>
    </dict>
</plist>
