<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-123-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,179}}</string>
                <key>sourceSize</key>
                <string>{207,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-123-locked.png</string>
            <key>size</key>
            <string>{211,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ebf1c576e3f7e43efceaea0d6b54eb:c6c54583234d65fbc2d30ed88c6c8095:317fa91769c0f34d5dbf6c0ebd8cf162$</string>
            <key>textureFileName</key>
            <string>stage-123-locked.png</string>
        </dict>
    </dict>
</plist>
