<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-140.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,181}}</string>
                <key>sourceSize</key>
                <string>{208,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-140.png</string>
            <key>size</key>
            <string>{212,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5f0377f74176b1dd7b8b6a3c31c99a:2b59353f3a7474697238bb12d68c29ef:4bce64afb59dbea7a66e9f86f4dd4970$</string>
            <key>textureFileName</key>
            <string>stage-140.png</string>
        </dict>
    </dict>
</plist>
