<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-58.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,197}}</string>
                <key>sourceSize</key>
                <string>{224,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-58.png</string>
            <key>size</key>
            <string>{228,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:968c97247071f7587501f5b22523a128:56840b0d9521c1c55c9a3ebec00947a4:0607a270325dd38cb3376ba4f4f779af$</string>
            <key>textureFileName</key>
            <string>stage-58.png</string>
        </dict>
    </dict>
</plist>
