<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-221.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,227}}</string>
                <key>sourceSize</key>
                <string>{213,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-221.png</string>
            <key>size</key>
            <string>{217,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d88ed3b851f619e92555dd036b2a18:a6248649f5e48e612e8ca2e4dd7573f8:757e3b3cf9f1e8e4e0b81a0939bac83c$</string>
            <key>textureFileName</key>
            <string>stage-221.png</string>
        </dict>
    </dict>
</plist>
