<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-134-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,209}}</string>
                <key>sourceSize</key>
                <string>{207,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-134-locked.png</string>
            <key>size</key>
            <string>{211,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a67dc01215049b77169643e2c9f708d:3b2132de2c267deddb5861ca8b69b4bd:aaeb42450333df8475dd1fc947aae4a9$</string>
            <key>textureFileName</key>
            <string>stage-134-locked.png</string>
        </dict>
    </dict>
</plist>
