<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-162.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,201}}</string>
                <key>sourceSize</key>
                <string>{211,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-162.png</string>
            <key>size</key>
            <string>{215,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6929bb9f9437986018f3c02f078e93c:01d5c3d17e3d62abaedc2f6d6dce367a:54ba2a1fa82ccb8fdac07782451aaa09$</string>
            <key>textureFileName</key>
            <string>stage-162.png</string>
        </dict>
    </dict>
</plist>
