<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-95.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,211}}</string>
                <key>sourceSize</key>
                <string>{205,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-95.png</string>
            <key>size</key>
            <string>{209,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:363f7501cd91637ea44257d366af5f51:372c85fb8da7b9808b92552c5a5df11c:bdf33e5914a6d3b2ef4b45b0fbb09b90$</string>
            <key>textureFileName</key>
            <string>stage-95.png</string>
        </dict>
    </dict>
</plist>
