<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-51-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,185}}</string>
                <key>sourceSize</key>
                <string>{211,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-51-locked.png</string>
            <key>size</key>
            <string>{215,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be4359280a6cb28b51daa0ee4651d768:9a236603b11a5657599fe0a5aea1706d:c9147cf215ab38ce15cb6d9fe85cd659$</string>
            <key>textureFileName</key>
            <string>stage-51-locked.png</string>
        </dict>
    </dict>
</plist>
