<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage-36-locked.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,189}}</string>
                <key>sourceSize</key>
                <string>{211,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage-36-locked.png</string>
            <key>size</key>
            <string>{215,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a958abb8cadacd5eebee41f3c9cefb:5070b9a0ad40a7db8cfadd180517c561:8c6e2bac285aa1e490177049f01fb7b4$</string>
            <key>textureFileName</key>
            <string>stage-36-locked.png</string>
        </dict>
    </dict>
</plist>
