<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_star_big.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_star_big.png</string>
            <key>size</key>
            <string>{50,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a675aeb970c4a0842a65de7a0159dd78:77f8d4e85212644f9483828115254354:b36480ec7dfaf979434f7035a671e75a$</string>
            <key>textureFileName</key>
            <string>card_star_big.png</string>
        </dict>
    </dict>
</plist>
