<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_name_bg_short.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,12}}</string>
                <key>sourceSize</key>
                <string>{71,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_name_bg_short.png</string>
            <key>size</key>
            <string>{80,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c33a7ee9f9eb6004f9894319337b0e9:37650f5195ca97c57ab8e17c0e95d957:4578c57473998d459d0071f4c3035a93$</string>
            <key>textureFileName</key>
            <string>card_name_bg_short.png</string>
        </dict>
    </dict>
</plist>
