<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_dec_armor_red.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_dec_armor_red.png</string>
            <key>size</key>
            <string>{103,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b91ffc8cce6e5f18cd7e63f809b5a1ef:b046c17b378f7f44e9b227296f111c83:a53764caa80332945ea2a6b5733bb16c$</string>
            <key>textureFileName</key>
            <string>battletext_dec_armor_red.png</string>
        </dict>
    </dict>
</plist>
