<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_funeral_blue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_funeral_blue.png</string>
            <key>size</key>
            <string>{55,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b06efeb4f18b63b4734938cc828a7c88:fc73a9d743269ed40665eb7f22c7dc5b:4f274555f7a071c872579ec5f1c51d05$</string>
            <key>textureFileName</key>
            <string>battletext_funeral_blue.png</string>
        </dict>
    </dict>
</plist>
