<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_summon_blue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_summon_blue.png</string>
            <key>size</key>
            <string>{55,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31096932404c4e83bed7369dc15b7136:13d98c6b7417a1fff2950b9d90a2de5c:11032d9d88acb0ad549470b5e1792d71$</string>
            <key>textureFileName</key>
            <string>battletext_summon_blue.png</string>
        </dict>
    </dict>
</plist>
