<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_haste_blue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_haste_blue.png</string>
            <key>size</key>
            <string>{56,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cdbf806e2ee667b34702b267bc355ef:96b461b73f43301f90522e17db7a709f:b4f6bf246ddeacd15b11536a74020537$</string>
            <key>textureFileName</key>
            <string>battletext_haste_blue.png</string>
        </dict>
    </dict>
</plist>
