<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_inc_armor_red.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_inc_armor_red.png</string>
            <key>size</key>
            <string>{103,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0909d09e93cd49d9c339de85714e45be:dd0c6838fc9ed19f4cdba17cf0813110:18c23caf7f76c01407ac7e4db48d109e$</string>
            <key>textureFileName</key>
            <string>battletext_inc_armor_red.png</string>
        </dict>
    </dict>
</plist>
