<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_dec_armor_blue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_dec_armor_blue.png</string>
            <key>size</key>
            <string>{103,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14318886e562da48d4a32575b7a4be84:6a21966921f79e47b148a3d0b897a581:16d2512e9d7cb828d332eaf9096802b8$</string>
            <key>textureFileName</key>
            <string>battletext_dec_armor_blue.png</string>
        </dict>
    </dict>
</plist>
