<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_culling_red.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,27}}</string>
                <key>sourceSize</key>
                <string>{97,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_culling_red.png</string>
            <key>size</key>
            <string>{101,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2adb78756e9650f6da3d53dd8b9f5a63:9ba52e16df1bacead3ee8fbc20e99124:055c532cbc3e069befb7d848da57fa12$</string>
            <key>textureFileName</key>
            <string>battletext_culling_red.png</string>
        </dict>
    </dict>
</plist>
