<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battletext_dec_attack_blue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battletext_dec_attack_blue.png</string>
            <key>size</key>
            <string>{103,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da185f9e84da05bb0ee8c93e7f19c88:0d6c4e745716caab28f2310dbdfd3ee8:43d602285c76d818143e402826d981e4$</string>
            <key>textureFileName</key>
            <string>battletext_dec_attack_blue.png</string>
        </dict>
    </dict>
</plist>
