<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mailbox_maillist_unread_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,123}}</string>
                <key>sourceSize</key>
                <string>{449,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mailbox_maillist_unread_bg.png</string>
            <key>size</key>
            <string>{453,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7900e34a3700fcd4009513a41bd44bad:d746a0e7dd74a25d5336b79aafe072b1:a0a641d79df872dd39db3eae605359cc$</string>
            <key>textureFileName</key>
            <string>mailbox_maillist_unread_bg.png</string>
        </dict>
    </dict>
</plist>
