<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8.png</string>
            <key>size</key>
            <string>{47,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfd4387b654bcc5f6dae8c4215c7341b:0e7f7b5f42870275135e4be33fb6baac:d49ca568aef5a9fc2acc5f0712bdd287$</string>
            <key>textureFileName</key>
            <string>8.png</string>
        </dict>
    </dict>
</plist>
