<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_1_passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,209}}</string>
                <key>sourceSize</key>
                <string>{211,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_1_passed.png</string>
            <key>size</key>
            <string>{215,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:239fab7e244ba0a95d3843c1ce149f06:66ba08d501f760856e40fce620952a58:bef0b42c61d7e96e6b85ea045bb3a547$</string>
            <key>textureFileName</key>
            <string>crusade_stage_1_passed.png</string>
        </dict>
    </dict>
</plist>
