<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_4_passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,191}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_4_passed.png</string>
            <key>size</key>
            <string>{215,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a35a6623c121bd711ec928a0857fa12d:c19d7b2e0f94a7e76570f62801ca85af:6c74d399833ad5355e89ce0576b8ce70$</string>
            <key>textureFileName</key>
            <string>crusade_stage_4_passed.png</string>
        </dict>
    </dict>
</plist>
