<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_2_current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,186}}</string>
                <key>sourceSize</key>
                <string>{211,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_2_current.png</string>
            <key>size</key>
            <string>{215,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ef48bba67b950cdda1937c79246ef5:b9ec6b406de173fb0b89d41e03b5948f:43763119d873e3d8d81a74115e1a9482$</string>
            <key>textureFileName</key>
            <string>crusade_stage_2_current.png</string>
        </dict>
    </dict>
</plist>
