<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_14_passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,190}}</string>
                <key>sourceSize</key>
                <string>{211,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_14_passed.png</string>
            <key>size</key>
            <string>{215,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8286b32422c6ef70a0969689cce193d:dd7ce5f739e03200b6f56155a89f5b41:e18fbaa36594094c2b7649375e114feb$</string>
            <key>textureFileName</key>
            <string>crusade_stage_14_passed.png</string>
        </dict>
    </dict>
</plist>
