<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_10_passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,211}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_10_passed.png</string>
            <key>size</key>
            <string>{215,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:633b234f55a0b054b3c248da4dd539f7:1dd9bdabc655719dfa41e889b2fb0e6c:ff0364a7d2d8b008404f68aaa9e57ec3$</string>
            <key>textureFileName</key>
            <string>crusade_stage_10_passed.png</string>
        </dict>
    </dict>
</plist>
