<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_9_current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,169}}</string>
                <key>sourceSize</key>
                <string>{211,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_9_current.png</string>
            <key>size</key>
            <string>{215,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f7582f5c0b8069950c2eaef62d536a:9d94c63f3815ba5e79cae78e2cde09b3:e6dd49613c86b63c6792f189e43b903a$</string>
            <key>textureFileName</key>
            <string>crusade_stage_9_current.png</string>
        </dict>
    </dict>
</plist>
