<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,166}}</string>
                <key>sourceSize</key>
                <string>{211,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_7.png</string>
            <key>size</key>
            <string>{215,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:897480592305dbcdcb4ef7b4fb03c4be:9ac2a0d3f7e330651dc5b5c636cfa20f:33cb9bfd8755d6f082356a5cbf3a211a$</string>
            <key>textureFileName</key>
            <string>crusade_stage_7.png</string>
        </dict>
    </dict>
</plist>
