<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_12_current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,182}}</string>
                <key>sourceSize</key>
                <string>{211,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_12_current.png</string>
            <key>size</key>
            <string>{215,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:195d7b8bfd9cb3726f2ea5b5e7646cb2:de0b5ff93c22e9543185780983d26485:352959b9d576a324bcd697fdbaec972e$</string>
            <key>textureFileName</key>
            <string>crusade_stage_12_current.png</string>
        </dict>
    </dict>
</plist>
