<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_4_current.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,191}}</string>
                <key>sourceSize</key>
                <string>{211,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_4_current.png</string>
            <key>size</key>
            <string>{215,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a6740d132f3662192b3b9774273841e:f7bc0802a97643f7206b40924accd8e6:84ddfef3c675afb3386be464f90f7a45$</string>
            <key>textureFileName</key>
            <string>crusade_stage_4_current.png</string>
        </dict>
    </dict>
</plist>
