<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_15_passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,213}}</string>
                <key>sourceSize</key>
                <string>{239,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_15_passed.png</string>
            <key>size</key>
            <string>{243,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b7e74495f46f8388ecae8d0f4c21fc4:b79c51f042361d10a7551e2fdf15d347:37c44f549dd6f086d3e61eecbdc74410$</string>
            <key>textureFileName</key>
            <string>crusade_stage_15_passed.png</string>
        </dict>
    </dict>
</plist>
