<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_9_passed.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,169}}</string>
                <key>sourceSize</key>
                <string>{211,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_9_passed.png</string>
            <key>size</key>
            <string>{215,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39490dc697ff28c91d250bd0925c50d2:e49ed34cd6e0cc26bdd2eb51f08d2125:b1464806cee2c42c376b24142c4cd173$</string>
            <key>textureFileName</key>
            <string>crusade_stage_9_passed.png</string>
        </dict>
    </dict>
</plist>
