<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crusade_stage_9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,169}}</string>
                <key>sourceSize</key>
                <string>{211,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crusade_stage_9.png</string>
            <key>size</key>
            <string>{215,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8cc2a6729d85de37ca95ed1daf66159:c98a7e880d87ac715bff905d32ad9734:984e4eb503f7f216411898b5a8e7488d$</string>
            <key>textureFileName</key>
            <string>crusade_stage_9.png</string>
        </dict>
    </dict>
</plist>
