<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_select_difficulty_i_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,25}}</string>
                <key>sourceSize</key>
                <string>{57,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act_select_difficulty_i_2.png</string>
            <key>size</key>
            <string>{61,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c58348aa40275f4329a67ee0224c9a9d:3da6c97aecbc15266880712441171b70:2da69d609a2f43c1bf1e0ed4f5f6ce0e$</string>
            <key>textureFileName</key>
            <string>act_select_difficulty_i_2.png</string>
        </dict>
    </dict>
</plist>
