<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_select_difficulty_iii_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act_select_difficulty_iii_1.png</string>
            <key>size</key>
            <string>{72,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6a43f5cc364fa4ff449d537667879ae:89fe7535a25ece3436f0a57b8c66df43:8291260ae07f9492c4016ff25b89d39a$</string>
            <key>textureFileName</key>
            <string>act_select_difficulty_iii_1.png</string>
        </dict>
    </dict>
</plist>
