<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_select_difficulty_ii_1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act_select_difficulty_ii_1.png</string>
            <key>size</key>
            <string>{66,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b0e032fee1b5d1b408368dd51b00f2:e7219818a87b1ed47fbfa8b5250178fb:f030ecdd1b1544d53581a21e68add925$</string>
            <key>textureFileName</key>
            <string>act_select_difficulty_ii_1.png</string>
        </dict>
    </dict>
</plist>
