<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_select_difficulty_ii_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act_select_difficulty_ii_2.png</string>
            <key>size</key>
            <string>{66,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10f06d1cd2d03e94d7d12f9e611486f6:602e6e0c5ccea5853bdf725d87d2abb2:e8f7afe5745768595eb829cdea458d99$</string>
            <key>textureFileName</key>
            <string>act_select_difficulty_ii_2.png</string>
        </dict>
    </dict>
</plist>
