<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_comment_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,44}}</string>
                <key>sourceSize</key>
                <string>{182,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act_comment_bg.png</string>
            <key>size</key>
            <string>{186,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8003b8a5683e28927c011da66562a7ab:199cf0a3c2b3a6f530ad096de47018e9:065d21ab62123a5a7755ed843c6d3086$</string>
            <key>textureFileName</key>
            <string>act_comment_bg.png</string>
        </dict>
    </dict>
</plist>
