<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comma.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comma.png</string>
            <key>size</key>
            <string>{17,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5daefbae1735d5beea138ced0958b98:4ef347c5c56eeb4b2fcbd9c04224df43:77a1230ecaee215c238de2d4c756c263$</string>
            <key>textureFileName</key>
            <string>comma.png</string>
        </dict>
    </dict>
</plist>
