<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8.png</string>
            <key>size</key>
            <string>{24,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:080d8c6a579df0aea2be0f093d0eca78:c85df5240a4d774adc1e98b390c4a493:d49ca568aef5a9fc2acc5f0712bdd287$</string>
            <key>textureFileName</key>
            <string>8.png</string>
        </dict>
    </dict>
</plist>
