<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipupgrade_star_grey.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipupgrade_star_grey.png</string>
            <key>size</key>
            <string>{22,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0348a4f8ee51988ae63a80480349cca:c8509772a5745a5076521695b92580ad:4ab4e3af8426d2e0f58b7df32f2ad4f5$</string>
            <key>textureFileName</key>
            <string>equipupgrade_star_grey.png</string>
        </dict>
    </dict>
</plist>
