<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipupgrade_star_blue.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipupgrade_star_blue.png</string>
            <key>size</key>
            <string>{22,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d164c17bf4ffdb6263148b3f116657:2c9e5f704f8e5dab43fcb6aaff60fab1:a379d8ce2e37cd3b6c4c9e54b2b0fe53$</string>
            <key>textureFileName</key>
            <string>equipupgrade_star_blue.png</string>
        </dict>
    </dict>
</plist>
