<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipupgrade_equip_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipupgrade_equip_bg.png</string>
            <key>size</key>
            <string>{98,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e7c87b3bedbe17413e475ca3a0bf089:d803d95550ba2ef0112fa5f0503fe292:1e74660fe1cbc76e016311a03e5e435d$</string>
            <key>textureFileName</key>
            <string>equipupgrade_equip_bg.png</string>
        </dict>
    </dict>
</plist>
