<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipupgrade_bottom_bg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{858,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{858,216}}</string>
                <key>sourceSize</key>
                <string>{858,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipupgrade_bottom_bg.png</string>
            <key>size</key>
            <string>{862,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa4a0e521ddb901b95c732cbc5bd91fe:9d94942a75a78b37f6d68f8dff64231a:3f407580dc99e89e3d4b655b60ddb5d2$</string>
            <key>textureFileName</key>
            <string>equipupgrade_bottom_bg.png</string>
        </dict>
    </dict>
</plist>
