<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_material_delete_down.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_material_delete_down.png</string>
            <key>size</key>
            <string>{39,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81d553868bfacec1ca772ba7c376cae7:5ed0307f9656f6e32c3e93a81932af9c:8854421cd138ce6d936c73d2fb462d36$</string>
            <key>textureFileName</key>
            <string>skill_material_delete_down.png</string>
        </dict>
    </dict>
</plist>
