<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_material_delete.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_material_delete.png</string>
            <key>size</key>
            <string>{39,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8870869086c2cc7579b47c837f42500e:67313f1451cc5efe033eed77c93e62c5:2b2043c0c4fe83353b731ea86963fb12$</string>
            <key>textureFileName</key>
            <string>skill_material_delete.png</string>
        </dict>
    </dict>
</plist>
