<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_new_hero_name_28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,94}}</string>
                <key>sourceSize</key>
                <string>{435,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>get_new_hero_name_28.png</string>
            <key>size</key>
            <string>{439,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94078e3d65e90143ab7985cc76d0876f:7e69376fdfa7260634615e8a77c1f3ce:983784b54eb0597394568fe230380ebf$</string>
            <key>textureFileName</key>
            <string>get_new_hero_name_28.png</string>
        </dict>
    </dict>
</plist>
