<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_new_hero_name_2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,94}}</string>
                <key>sourceSize</key>
                <string>{435,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>get_new_hero_name_2.png</string>
            <key>size</key>
            <string>{439,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e0842a6bfadf83368fb4c9527ff4514:5cc09cb9eace69648b12fd417283a500:1714873acb24f180708bb53d773c6777$</string>
            <key>textureFileName</key>
            <string>get_new_hero_name_2.png</string>
        </dict>
    </dict>
</plist>
