<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_new_hero_name_37.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,94}}</string>
                <key>sourceSize</key>
                <string>{435,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>get_new_hero_name_37.png</string>
            <key>size</key>
            <string>{439,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c9c98d72a73772f09ee8abf3c2f96bb:f6d2649ff49c2f5739e73d4d4667c1e9:b98c130b4307fa7b0229c17c17cc89e8$</string>
            <key>textureFileName</key>
            <string>get_new_hero_name_37.png</string>
        </dict>
    </dict>
</plist>
