<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8.png</string>
            <key>size</key>
            <string>{29,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3dcf5fd40b314c64e819d7e25765a1e:8bdc3c734ec528e2cbe5a386684354b8:d49ca568aef5a9fc2acc5f0712bdd287$</string>
            <key>textureFileName</key>
            <string>8.png</string>
        </dict>
    </dict>
</plist>
