<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comma.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{10,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comma.png</string>
            <key>size</key>
            <string>{14,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9f17a9f919eb22994446505397f2a9:f93554025a91d596978389de1b04dad5:77a1230ecaee215c238de2d4c756c263$</string>
            <key>textureFileName</key>
            <string>comma.png</string>
        </dict>
    </dict>
</plist>
