<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slash.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slash.png</string>
            <key>size</key>
            <string>{17,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1192069a5c8554bb752d0812e7f362b:8a8bab21c315a290c22e040c5f86973f:a69a086fc656d4464f3448465fad3ffe$</string>
            <key>textureFileName</key>
            <string>slash.png</string>
        </dict>
    </dict>
</plist>
